[2019-07-22 09:24] #1139 closed

[2019-07-29 12:33] #348 closed

[2019-07-30 04:40] cdietrich opened #1153 "Gazillions of test failures on latest"
Gazillions of test failures on latest

https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/245/

[code]

[code]

[2019-07-30 04:50] cdietrich commented on #1153
Status ERROR: org.eclipse.ui.workbench.texteditor code=0 Editor could not be initialized. java.lang.NullPointerException

[2019-07-30 05:02] cdietrich commented on #1153
https://bugs.eclipse.org/bugs/show_bug.cgi?id=549648

[2019-07-30 05:06] cdietrich commented on #1153
we dont specify a icon for our editors. in the past this seemed to have worked fine

[2019-07-30 06:01] cdietrich commented on #1153
likely a platform regression.

[2019-07-30 06:16] miklossy commented on #1153
Maybe realted to https://www.eclipse.org/forums/index.php?t=msg&th=1098204&goto=1804472&#msg_1804472

[2019-07-30 06:23] cdietrich commented on #1153
its not directly related but yes we have gazillions of test langs with no icon.
same in the wizard: we dont generate a default icon

[2019-07-30 07:36] cdietrich commented on #1153
Issue fixed in platform: TODO reevaluate when new I-Build is available

[2019-07-30 07:59] szarnekow opened #1155 "Avoid unguarded or even unnecessary casts to IXtextDocument / XtextDocument"
The static utility XtextDocumentUtil should be superseded by an injectable services that allows to obtain an IXtextDocument, too.

[2019-07-31 03:03] cdietrich commented on #1153
Fixed with the regression fix in platform

[2019-07-31 03:03] #1153 closed

[2019-08-05 21:17] jbadeau commented on #830
Any update on this?

[2019-08-06 03:45] cdietrich commented on #830
No

[2019-08-06 09:30] cdietrich commented on #805
see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=410057

[2019-08-15 10:46] szarnekow commented on #281
Fixed

[2019-08-15 10:46] #281 closed

[2019-08-15 10:56] szarnekow opened #1160 "Avoid using of default partitioning"
Documents support multiple partitionings. We should use language specific partitionings to get rid of an implicit dependency to the FileDocumentProvider and the default partitioning per document.

[2019-08-15 10:57] szarnekow opened #1161 "Regenerate all test languages"
The generated code in the repository is not in sync with the latest version of the generator.

[2019-08-15 12:03] szarnekow commented on #1155
Fixed

[2019-08-15 12:03] #1155 closed

[2019-08-16 15:20] trancexpress opened #1164 "xtext builders don't clean output folders on full build"
We have the following problem:

1. Our product defines DSL and provides custom builders.
2. As our product evolves, the builders generate different artefacts.
3. Users to export a compiled project, using the standard Export Project wizard, exporting to an archive. This per default includes output folders.
4. Users import the project from the archive, using a latter version of our product, where co

[2019-08-16 15:21] trancexpress commented on #1164
Sorry if this is somewhat bare-boned, this is all the information I have from Christian. My expectation was we were going to change our own builders but Christian requested a `github` issue.

[2019-08-16 15:22] cdietrich commented on #1164
Well both
I want this issue to be discussed here
But I don’t see a fix in 2.19

[2019-08-19 07:44] cdietrich commented on #1161
@szarnekow anything left?

[2019-08-19 09:44] szarnekow commented on #1161
Nothing that I'm aware of. In the future I'd like to have a build that generates all languages and fails if there are exceptions or if there is a diff. But that's another issue.

[2019-08-19 09:44] #1161 closed

[2019-08-23 07:07] cdietrich commented on #1164
Tthings to address

- avoid duplicate cleaning (performance)
- clean output folder vs clear derived resources

[2019-08-30 06:10] cdietrich commented on #1160
moved to 2.20

[2019-08-30 06:15] cdietrich commented on #564
Moved to 2.20

[2019-09-02 13:46] cdietrich opened #1171 "domainmodel example should use variable for xtext version"
domainmodel example should use variable for xtext version

(currently it uses project.version all over the place)

[2019-09-19 12:25] kthoms commented on #1010
@miklossy Does this still happen with 2019-06/09 ?
With https://git.eclipse.org/r/#/c/148467/ it is planned to change the default direction of compare views, so we should make sure that this does not make the problem more likely.

[2019-09-19 12:58] cdietrich commented on #1010
well we dont know if the problem is caused by switching or the intial direction. i thought its cause by switching 6 month ago

[2019-09-19 14:36] miklossy commented on #1010
@kthoms Switching the default direction of compare views is a very good idea, please go ahead!
If that change makes this problem more likely, it is more likely that it gets fixed!

[2019-09-20 05:46] cdietrich opened #1181 "Refresh on Access does not work for Xtext editors"
Refresh on Access does not work for Xtext editors

(2) configure workspace for refresh on access
(1) open a Xtext based dsl file
(2) modify on disk
(3) click into the editor

Expected behaviour:
Editor refreshes (e.g. as `.java` or `.txt`)
Actual behaviour:
Editor does not refresh

This is caused by the customization in

`org.eclipse.xtext.ui.editor.model.XtextDocumentProvider.isSynchronized(Objec

[2019-09-20 06:22] cdietrich opened #1182 "Content Assist Tests in Eclipse and Xtend fail with Java 13"
we have Content Assist Tests fails in Eclipse and Xtend with Java 13 that i dont know how to properly fix. i have the feeling the content assist test framework is a  bit bogus when it comes to methods vs getters.

@szarnekow it would be nice if you somewhen could find some time to have a look.

e.g

org.eclipse.xtext.xbase.ui.testing.AbstractXbaseContentAssistTest.testNestedTypes_01()
and
org.ecli

[2019-09-23 06:00] cdietrich opened #1187 "XtextBuild crashes in JDT on "latest" locally"
[code]

[2019-09-23 06:08] cdietrich commented on #1187
here is one bad memento

[code]

have no clue what happens

[2019-09-23 06:39] cdietrich commented on #1187
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=551356
am not sure if the is a jdt or a buildship problem
cc @donat

[2019-09-23 09:25] lidochca opened #1188 "Please add an option to disable build workspace before rename Element"
Hello,

I had a discussion with Christian on xtext-dev mailing list about this topic
https://www.eclipse.org/lists/xtext-dev/msg01335.html

We found that when we try to user 'Rename element' for our dsl files, it triggers workspace build. Our projects has a custom builder that executes a shell script that is time consuming.
It makes 'Rename Element' impossible to use.
We would need an option in pr

[2019-09-23 12:22] kthoms commented on #1188
I'm strongly against a visible preference, since this requirement is extremely rare and unintended usage usually leads to an undesired behavior.

However, preferences don't need to have a visible possibility for configuration in the workspace preferences. There are a couple of examples in Eclipse platform code where preferences are internally visible only. This might require some advanced knowledg

[2019-09-23 18:19] miklossy opened #1190 "Domainmodel Example: use customized outline icon for import section / import declaration"
The Xtext Domainmodel Example should  use the [Import.gif](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui/icons/Import.gif) icon on the outline view.

Currently, the default icon is used:
![screenshot](https://user-images.githubusercontent.com/20393472/65451188-f1f1b900-de3e-11e9-9829-79a813c69f

[2019-09-24 04:20] miklossy commented on #1190
Fixed in 2.20.

[2019-09-24 07:15] lidochca commented on #1188
Ok Thank you Karsten,
It is an acceptable solution for us. I can contribute with something like this:

IPreferenceStore prefs = Activator.getDefault().getPreferenceStore();
Boolean isDisabled = prefs.getBoolean(KEY_DISABLE_BUILD_DURING_RENAME);

And we can set the desired value in config.ini

Kind Regards
Lidia

[2019-09-24 07:24] cdietrich commented on #1188
i am very sceptic about that.
doing it as preference is not an option imho
maybe we can do a hidden secrect undocumented jvm option but i am very sceptic about that.

i also wonder if you have actually tried to "fix" the problem by extending and fixing the affected Xtext code

@szarnekow what do you think

[2019-09-24 08:26] miklossy opened #1192 "Domainmodel Example: use consistent whitespaces when inserting Property and Operation templates via content assistant"
Currently, the Domainmodel Example uses inconsistent whitespaces when inserting Property and Operation templates via content assistant:
![screencast](https://user-images.githubusercontent.com/20393472/65494799-cc53c680-deb5-11e9-860c-13b4c237dba4.gif)
These whitespace handling should be harmozied.

[2019-09-24 08:36] miklossy commented on #1192
Fixed in 2.20.

[2019-09-24 08:36] #1192 closed

[2019-09-24 13:01] miklossy opened #1195 "Domainmodel Example: use correct line ending in the Fantastic Auto Editing"
Currently, the Fantastic Auto Editing of the Domainmodel Example uses hard-code linux-style ending, even on Windows:

![screencast](https://user-images.githubusercontent.com/20393472/65513785-33847180-dedc-11e9-85f9-e1cf499bc281.gif)

This should be improved so that the platform specific line ending are used.

[2019-09-24 18:18] miklossy commented on #1195
Fixed in 2.20.

[2019-09-24 18:18] #1195 closed

[2019-09-27 10:18] cdietrich commented on #1182
Fixed in 2.20

[2019-09-27 10:18] #1182 closed

[2019-09-28 06:49] cdietrich commented on #1187
issue is fixed again with the latest jdt nightly

[2019-09-28 06:49] #1187 closed

[2019-09-30 15:06] miklossy opened #1202 "Domainmodel Example: Add duplicated property validation rule"
Currently, the Domainmodel validation does not catch duplicated properties that results to invalid generated code:
![screenshot](https://user-images.githubusercontent.com/20393472/65891247-8199e900-e3a4-11e9-9f88-83ad40469c7a.png)
The Domainmodel validator should be extended by the duplicated properties validation rule.

[2019-10-03 10:28] miklossy opened #1204 "Exception when executing Domainmodel Example UI test cases"
I observed the following exception when executing the Domainmodel Example UI test cases:
[code]

This is actually not related to Xtext, see also Mylyn bug report https://bugs.eclipse.org/bugs/show_bug.cgi?id=548640

[2019-10-04 17:54] kthoms commented on #1204
Thanks for reporting this to Eclipse, I've [provided a patch](https://git.eclipse.org/r/#/c/150613/).

[2019-10-05 04:18] miklossy commented on #1204
@kthoms Thanks for the fix!

[2019-10-07 14:51] miklossy opened #1205 "Domainmodel example: Add duplicated operation validation rule."
See [comment](https://github.com/eclipse/xtext-eclipse/pull/1203#issuecomment-539047064) from @LorenzoBettini

[2019-10-07 15:26] szarnekow commented on #1188
I share the concerns of @cdietrich

This will likely cause maintenance effort because questions in the direction of 'rename didn't do it' become more likely.

[2019-10-08 06:21] MarkusAmshove opened #1206 "Tycho tries to resolve Xtext 2.20"
Hi,

I'm currently trying to repair a build for a Xtext based project which uses Tycho to create the plugins and an update site, which I then deploy to Artifactory.

We're working behind a corporate proxy which means we need Artifactory as a repository aggregator, because the workstations and build servers can't access things like mavencentral, download.eclipse.org etc.

I'm trying to update a Xte

[2019-10-08 06:22] cdietrich commented on #1206
where does the try for 2.20 / mwe 2.11.1 come from
do you use nightlies?

[2019-10-08 06:36] cdietrich commented on #1206
you may also try to specify an explict maven repo location on server and local

`-Dmaven.repo.local=somedir` as well as telling tycho to ignore local things
`-Dtycho.localArtifacts=ignore `

[2019-10-08 07:36] MarkusAmshove commented on #1206
I've removed the p2 repositories from the poms in the update from 2.17 -> 2.19, because the generated new project from 2.19 doesn't contain them anymore (only the "disable codehaus-snapshots").
Should I readd them?

The repositories from the target definition point to `http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/` and tycho doesn't seem to fetch 2.20 (according to the

[2019-10-08 07:42] kthoms commented on #1206
Please check you Artifactory. Would the same error occur without the Artifactory proxy and direct usage of the official p2 repos?

[2019-10-08 07:44] cdietrich commented on #1206
are you sure this stems from tycho and not maven deps?

[2019-10-08 08:11] MarkusAmshove commented on #1206
I've consolidated the parent projects pom against the newly generated again and found another difference which fixed the issue.

The fix was to bump `maven-clean-plugin` from 2.5 to 3.1.0.

Do you have any idea why this could be related to the versioning?

This is what Jenkins calls:
`mvn -Dtycho.localArtifacts=ignore -B verify`

[2019-10-08 08:13] cdietrich commented on #1206
no i dont

[2019-10-08 08:15] kthoms commented on #1206
No idea.

[2019-10-08 08:36] #1206 closed

[2019-10-08 14:08] rheydenr opened #1208 "EGit Merge tool doesn't work with XtextEditor"
Steps to reproduce:

- create an Xtext project (with at least one Xtext document) and add it to a Git repository
- on master branch: change the Xtext document and commit it
- switch to another branch (cloned from master) and change the same Xtext document (with another modification which should provoke a merge conflict with master branch's file), commit it
- merge branch master into the current br

[2019-10-08 17:24] cdietrich commented on #1204
closed as not Xtext

[2019-10-08 17:24] #1204 closed

[2019-10-08 20:27] tomaswolf commented on #1208
Which EGit version? Which Xtext version? What's set as input for the merge tool? If it's "Last HEAD (unmerged)", then https://bugs.eclipse.org/bugs/show_bug.cgi?id=550989 might be related. That bug is fixed in EGit nightly, which can be installed from the update site https://download.eclipse.org/egit/updates-nightly .

[2019-10-08 20:36] rheydenr commented on #1208
EGit: 5.5.1
Xtext: 2.19
Input for the merge tool is an Xtext document file. Bug #550989 seems to be another topic.

[2019-10-08 20:49] tomaswolf commented on #1208
Yes, the merge conflict is on an Xtext file. But what is set at "Preferences->Team->Git", "Merge Tool content"? If that is set to "Last HEAD (unmerged)", please try with EGit nightly.

The fix for bug 550989 had to do with making Eclipse select the right document provider, so it may well be that this is the same case.

[2019-10-09 06:51] cdietrich commented on #1208
@tomaswolf

 the problem is still there in
Eclipse EGit	Git integration for Eclipse	5.5.1.201910021850-r	org.eclipse.egit

but is not in
Eclipse EGit	Git integration for Eclipse	5.6.0.201910081857	org.eclipse.egit

but the merge tool left side is empty which seems wrong

![Bildschirmfoto vom 2019-10-09 08-51-35](https://user-images.githubusercontent.com/238736/66458041-06a29380-ea72-11e9-9a38-fc03

[2019-10-09 06:56] rheydenr commented on #1208
With EGit nightly there's a missing reference to `org.eclipse.jgit.transport.http.apache`. With nightly-stable the following error occurs:
[code]

[2019-10-09 07:56] tomaswolf commented on #1208
Then something went wrong with the upgrade. When I upgrade, it does include that. Make sure the JGit support for Apache HTTP is also checked when installing. (Sometimes the update mechanism works better if it gets a little manual help.)

[2019-10-09 07:58] cdietrich commented on #1208
@rheydenr regaring installing the nighty:

just adding the update site and check for updates worked for me

[2019-10-09 09:33] rheydenr commented on #1208
Ok, you are right :-) I'm using a tpd file for the target platform, there was a missing plugin. Now I have a working environment. The Exception does not occur anymore, but now I have the same error as @cdietrich, where the left pane is completely empty. It is the case if you switch to text compare view, too.

[2019-10-09 09:59] tomaswolf commented on #1208
Yes, left side comes up empty. That's due to an NPE, which was pointed out in https://bugs.eclipse.org/bugs/show_bug.cgi?id=550989 already. The left side is an IStorage that represents a git index entry. This storage returns `null` in getFullPath(). This is allowed; see the javadoc of IStorage.getFullPath(). In fact, EGit _must_ return `null` there.

Xtext then runs into an NPE at [ResourceForIEdi

[2019-10-09 10:01] cdietrich commented on #1208
@szarnekow do you have any idea how we could deal with null here?

[2019-10-09 10:08] tomaswolf commented on #1208
The basic problem is that there is no on-disk resource or whatever for the IStorage.

[2019-10-09 10:25] tomaswolf commented on #1208
Two thoughts:

1. Why does ResourceForIEditorInputFactory not use the Storage2UriMapper to get a URI for the storage?
2. Would still have to handle the case of a null URI. Maybe assign the storage (or rather, the resource created for it) some internal in-memory URI?

[2019-10-09 10:46] szarnekow commented on #1208
The URI is used to figure the correct EMF resource factory / resource implementation. The storage 2 uri mapper is merely a cache for storages that do exist physically on disk, e.g. reside in JAR files. It won't provide URIs for demand created revision storages.

[2019-10-09 10:47] szarnekow commented on #1208
We certainly need a file extension to figure at least some sensible resource impl.

[2019-10-09 10:50] szarnekow commented on #1208
The situation will likely be improved when we do no longer use the FileDocumentProvider.

[2019-10-09 10:53] tomaswolf commented on #1208
The file extension of the storage is available via IStorage.getName().

[2019-10-09 10:57] szarnekow commented on #1208
True, though it's documented as being nullable, too :(

[2019-10-09 11:25] tomaswolf commented on #1208
Right. :-(

Just for completeness' sake: that's the stack trace I get (when debugging; it isn't logged anywhere):
[code]

[2019-10-09 11:33] szarnekow commented on #1208
Here we do have the IEditorInput with a (documented to be) non-null name.

[2019-10-09 11:37] tomaswolf commented on #1208
A non-null name all right, but not necessarily a file name.

[2019-10-09 11:50] tomaswolf commented on #1208
I see two possibilities:

1. Quick hack: use IStorage.getName() if IStorage.getFullPath() returns null. If both are null, give up.
2. The document provider _also_ was chosen by Eclipse (DocumentProviderRegistry) based on a file name extension. So either let the document provider for a language know how to create resources (probably a rather invasive change), or use in ResourceForIEditorInputFactor

[2019-10-10 06:41] miklossy commented on #1171
@cdietrich what is the state of this issue? As far as I can see, you prepared some commits in a branch that have not been merged into master.

[2019-10-10 06:47] cdietrich commented on #1171
dont have time to verify

[2019-10-11 06:52] cdietrich commented on #1202
@miklossy anything left?

[2019-10-11 07:32] miklossy commented on #1202
Fixed in 2.20

[2019-10-11 07:32] #1202 closed

[2019-10-11 07:37] cdietrich commented on #1171
Fixed in 2.20

[2019-10-11 07:37] #1171 closed

[2019-10-11 09:45] miklossy commented on #1205
Thanks for the fix @LorenzoBettini !

[2019-10-11 11:19] tomaswolf commented on #1208
I don't have a full xtext development environment set up so I can't provide you with a fully tested PR including maybe even a test, but the above suggestion actually works.

Change ResourceForIEditorInputFactory.createResource(IEditorInput editorInput) to
[code]
and pass through the IPath to createResource and createResourceFor, then use it there. If you want you could as an additional safeguard u

[2019-10-11 14:02] Bananeweizen opened #1214 "Performance: repeated computation of identical Ecore mapping"
During an Xtext build in Eclipse the EcorePlugin is repeatedly asked for the same information `EcorePlugin.computePlatformURIMap(false)`. See
https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/resource/JavaProjectResourceSetInitializer.java#L60

In a local clean build of mine that amounts to 79 seconds. Without really knowing what that Ecore call doe

[2019-10-11 14:06] cdietrich commented on #1214
@Bananeweizen I don’t get that.
This method in called only once for the build isn’t it?

[2019-10-11 14:09] cdietrich commented on #1214
Maybe you are on a system with antivirus running amok as described here
https://bugs.eclipse.org/bugs/show_bug.cgi?id=543742

[2019-10-11 14:22] Bananeweizen commented on #1214
I must admit I have not measured the number of calls (since it slows down the profiler by a factor of 10 typically, and that is really slow for a huge workspace), but I can do that. In the case of just 1 call there would be no potential for optimization on your side, but only on the emf side. It seems that EMF reads and parses a huge amount of files (but I don't know which yet).
I've disabled the

[2019-10-11 14:26] cdietrich commented on #1214
You know you can do call counting only in yourkit which is fast too?

[2019-10-11 14:27] cdietrich commented on #1214
Please also check what is taking so long in the emf method

[2019-10-11 14:29] cdietrich commented on #1214
You might also observe if antivirus is doing stuff in task manager or so

[2019-10-12 10:26] miklossy commented on #1205
I have just observed the following behaviour when getter/setter operations are explicitly defined in the entitiy, that those methods are interfere with the generated ones and such reported as duplicates.

![image](https://user-images.githubusercontent.com/20393472/66699889-1b3d9080-eceb-11e9-8f56-4cbb228dcc1c.png)

Is this behaviour intended?

[2019-10-12 11:39] LorenzoBettini commented on #1205
The error is correct, because in the generated Java code two getters with the same name will be present. I'm pretty sure that without the implemented check you'd have an error in the generated Java code. I agree that the model inferrer should first check whether the programmer has written a getter explicitly. If we all agree I can work on that.

[2019-10-12 11:49] miklossy commented on #1205
I agree

[2019-10-12 13:24] LorenzoBettini commented on #1205
By the way, it might not be trivial to detect whether a getter/setter is already declared (see Accessors in Xtend Active annotation library)... I'd tend to implement a much simpler check. In particular, during the inferrer I think it's better not to trigger type resolution and to proper perform the checks about getters/setters you'd need also types, is that right?

[2019-10-13 09:22] miklossy commented on #1190
I found that the current implementation is not optimal. Instead of maintaining its own `XImportDeclration.gif` and `XImportSection.gif` icons, they should be reused from Xbase.

[2019-10-14 05:01] #1190 closed

[2019-10-14 07:26] cdietrich commented on #1214
@merks do you see any chance to cache computePlatformURIMap properly?

[2019-10-14 07:41] cdietrich commented on #1214
@Bananeweizen this is a build of the complete xtext workspace. the 10s are ca 1% of the build time.
=> i am sure you have a antivirus problem

[2019-10-14 07:42] merks commented on #1214
Of course the general problem with any kind of cache is the question of cache consistency, i.e., when would the cached result be different from the recomputed result?  That would be the case when the workspace state changes, e.g., changes to the registrations in plugin.xmls, or the target platform state changes.   One would need to add listeners for such things.

Of course the method name itself s

[2019-10-14 07:49] cdietrich commented on #1214
my assumtion is that this is already the case.
=> if you do a clean build you will get `2 * numberOfProjects` calls

here is a example with 2 projects

![Bildschirmfoto vom 2019-10-14 09-48-43](https://user-images.githubusercontent.com/238736/66735858-d723ca80-ee67-11e9-82ce-85c9408b730b.png)

[2019-10-14 08:14] cdietrich commented on #1214
@szarnekow do you remember why we call `org.eclipse.emf.ecore.plugin.EcorePlugin.computePlatformURIMap(boolean)` with `false` here
https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/resource/JavaProjectResourceSetInitializer.java#L60

[2019-10-14 08:45] szarnekow commented on #1214
For historical reasons (tm) some languages may have referred to installed EPackages in addition to the packages available in the TP. The TP content is added to the resulting map in the subsequent code of this method along with all other kinds of package fragment roots (e.g. m2 containers, gradle containers).

[2019-10-14 09:25] cdietrich commented on #1214
=> i dont see any chance to cache "more" in a proper way

[2019-10-14 13:18] miklossy opened #1217 "Domainmodel example: Outline view improvements"
Given is the following `dmodel` file:

[code]

Currently, the outline view of this file looks like:
![screenshot](https://user-images.githubusercontent.com/20393472/66754030-5d0a3a80-ee95-11e9-90f4-89ffd29f8309.png)

I suggest the following outline view improvements:
- do not create any outline view nodes for the `Jvm Parameterized Type Reference` elements
- use `B extends LinkedList<String>` text

[2019-10-14 17:25] miklossy commented on #1217
Fixed in 2.20.

[2019-10-14 17:25] #1217 closed

[2019-10-15 13:11] miklossy opened #1220 "Domainmodel Example: NPE when executing 'Uncapitalize name' Quickfix"
Given is the following `dmodel` file:
[code]
When executing the `Uncapitalize name` on the property `A`, the following NPE is thrown:

[code]
![screencast](https://user-images.githubusercontent.com/20393472/66834490-0288e100-ef5e-11e9-88be-af72cd755131.gif)

[2019-10-15 16:52] cdietrich commented on #1220
have no idea why the region is null here. also why the array is serialized here

[2019-10-15 18:25] cdietrich commented on #1220
Fixed

[2019-10-16 05:36] miklossy commented on #1220
Thanks for the fix, @cdietrich . Now there is no excpetion thrown any more, but a little bit weird behaviour is that an additional new line is inserted between the two properties after applying the quickfix. Could you please analyse that also? Thanks!

[2019-10-16 05:43] cdietrich commented on #1220
that is a different issue !!!!

[2019-10-16 05:43] #1220 closed

[2019-10-16 05:44] miklossy commented on #1220
You are right, I will open an new issue for that!

[2019-10-16 05:51] miklossy opened #1221 "Domainmodel Example: New line is inserted when executing 'Uncapitalize name' Quickfix"
Given is the following `dmodel` file:

[code]

When executing the Uncapitalize name on the property Title, an additional new line is inserted after the property:

![screencast](https://user-images.githubusercontent.com/20393472/66891455-80de9500-efe9-11e9-894e-53f8fef035de.gif)

See also the already defiend Domainmodel [QuickfixTest](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse

[2019-10-16 05:58] LorenzoBettini commented on #1205
Any comment? @miklossy?

[2019-10-16 07:27] miklossy commented on #1205
We may start with the getter, there you do not need any types for the comparison.

[2019-10-16 09:04] LorenzoBettini commented on #1205
I know that the Domainmodel example is just an example, but I'd avoid a partial solution... @szarnekow do you have any suggestion? Would it make sense to check for possible duplicates also in the model inferrer (triggering type resolution)?

[2019-10-16 13:48] cdietrich commented on #1214
@Bananeweizen any update ?

[2019-10-16 14:43] szarnekow commented on #1205
As long as you don't do it in the `preIndexing` phase, it is ok to resolve proxies. Type resolution for expressions should not be triggered by accident, though.

[2019-10-19 10:10] miklossy opened #1228 "Xtext Wizard Fragment: no file headers are generated"
When using the Xtext project wizard / file wizard fragments in the mwe2 workflow, the generated `Messages.java` class does not contain any file headers, even if it is configured previously.

When extending the Xtext FowlerDsl Example by the
[code]
configuration, the generated `Messages.java` class does not contain the configured file header
[code]
![screenshot](https://user-images.githubuserconten

[2019-10-19 10:38] miklossy opened #1229 "Xtext Wizard Fragment: add possibilities to generate toolbar buttons"
The Xtext project wizard / file wizard fragments in the mwe2 workflow should be extended by a configuration parameter to enable the generation of toolbar buttons.

See also discussion in [forum thread](https://www.eclipse.org/forums/index.php/t/1100974/).

@ArneDeutsch Could you please take a look? Thanks a lot in advance!

[2019-10-20 08:51] miklossy opened #1231 "Xtext Wizard Fragment: add file extension combo box to the New File Wizard"
Currently, there is no possibility to select the file extension on the generated New File Wizard.

![screenshot](https://user-images.githubusercontent.com/20393472/67157082-2ca81d80-f327-11e9-95a2-e6311589d043.png)

However, some languages (e.g [GEF DOT](https://github.com/eclipse/gef/wiki/DOT-User-Guide) support more than one file extensions (e.g `*.dot`, `*.gv`).

I suggest to extend the New Fil

[2019-10-20 09:29] szarnekow commented on #1231
The combobox should be hidden, if the language has only one file extension.

[2019-10-20 09:41] miklossy commented on #1231
I think it would be better to show the combobox even if the language has only one file extension. In such cases the combobox will contain only one element, so it will not be possible to select an other one. In such way we would make the file extension more visible (transparent) on the wizard page. Otherwise the user will see the file extension only after the file has been created.

[2019-10-20 09:52] szarnekow commented on #1231
I don't buy this. Would you expect the 'New Java Class' wizard to show a combobox with a file extension to make it more transparent that a Java class has the file extension java?

[2019-10-20 09:54] cdietrich commented on #1231
there is also the question: do you want have 1 wizard for n extensions or n wizard for 1 file extension each

[2019-10-21 17:03] Bananeweizen commented on #1214
@cdietrich After close inspection I found that my company managed laptop actually had the virus scanner enabled (for unknown reasons) when doing those tests. Unfortunately it may take another 3 days until I have the rights to disable it, due to a heavy process for that.
I will take another measurement when that is possible.

[2019-10-22 07:29] tomaswolf commented on #1208
Any chance that this gets fixed in the Xtext version that'll go into Eclipse 2019-12?

[2019-10-22 08:36] cdietrich commented on #1208
I don’t know if I will find the time to look into it yet

[2019-10-24 19:57] cdietrich opened #1235 "Examples: Prefer Java Over Xtend."
our examples should reflect the change with
https://github.com/eclipse/xtext-core/issues/1223

[2019-10-25 14:34] szarnekow commented on #1181
see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=326961

[2019-10-30 14:32] asiehsalehi commented on #830
Hi
any update?
Eclipse Oxygen.3a Release (4.7.3a)
Xtext Complete SDK 2.19.0.v20190902-1322

I have the waring when importing my a project within the workspace.

[2019-10-30 14:47] cdietrich commented on #830
No update on this issue

[2019-10-30 15:42] szarnekow commented on #830
Does the warning disappear after a subsequent clean build?

[2019-10-31 10:04] asiehsalehi commented on #830
not really!

[2019-11-05 08:17] trancexpress commented on #1129
My patch suggestion is:

[code]

This should avoid trying to hold the workspace log during this stack trace:

[code]

And so avoid the issue. Christian, Sebastian, any thoughts on this?

[2019-11-05 09:24] szarnekow commented on #1129
The patch looks good to me.
I'm a little concerned though that some other call graph will call `ClusteringBuilderState.ensureLoaded` and we'll run into the same problem. But this is for now only a gut feeling.

[2019-11-05 09:24] szarnekow commented on #1129
In other words: A PR for this is appreciated.

[2019-11-05 09:36] trancexpress commented on #1129
Would it be OK to set PRs not only for master but also for the xtext 2.18 maintenance branch?

[2019-11-05 09:37] szarnekow commented on #1129
As of now we do not have plans to release a 2.18.x

[2019-11-06 17:56] cdietrich commented on #1235
working on statemachine and home automation

[2019-11-06 18:30] cdietrich commented on #1235
also working on arith. example

[2019-11-07 07:20] cdietrich commented on #1235
will also do the domainmodel example

[2019-11-07 13:08] cdietrich commented on #1235
i am done with a first round
@miklossy it would be nice if you would find the time for a second

[2019-11-07 16:00] cdietrich commented on #1129
Should be fixed in 2.20

[2019-11-07 16:00] #1129 closed

[2019-11-08 09:35] cdietrich commented on #1228
@ArneDeutsch i have no idea where this is generated. maybe some eclipse magic?

[2019-11-08 09:37] cdietrich commented on #1228
ahh its the ProjectTemplateProcessor
which is an active annotation processor

[2019-11-08 22:26] joeseibel opened #1252 "Outline view's context menu doesn't show"
When working with multiple files, the outline view enters a state in which the context menu will not show for certain files. I am able to reproduce this behavior for any Xtext language.

Steps to reproduce:

1. Open any Xtext file such as an Xtend file.
2. Open another file.
3. Switch back to the first file and right-click in the outline view. The context menu will NOT show.
4. Switch back to the

[2019-11-09 08:11] cdietrich commented on #1252
i can confirm that, i have no clue what could cause this.

[2019-11-09 08:24] cdietrich commented on #1252
testing with

Version: 2019-12 (4.14)
Build id: I20191102-1800

it seems to work again
@joeseibel could you retest with 2019-12 M2
?

[2019-11-11 17:04] joeseibel commented on #1252
I can confirm that it works again in 2019-12 M2.

[2019-11-11 17:05] cdietrich commented on #1252
Thus I will close this issue

[2019-11-11 17:05] #1252 closed

[2019-11-12 14:06] cdietrich commented on #1181
@szarnekow are you actively working on this?

[2019-11-12 14:12] szarnekow commented on #1181
Not on the fix for the current impl in isolation, no

[2019-11-13 09:38] kthoms commented on #251
Since we are on Oxygen at minimum, we should be able to remove the EGit workaround now. This would resolve also internal Job API access.

[2019-11-13 09:39] cdietrich commented on #251
@szarnekow what do you think?

[2019-11-17 16:11] miklossy opened #1259 "Xtext Wizard: Add API to be able to use images in the template descriptions."
The new project wizard API should be extended to be able to register images (that can be used on the new project wizard template descriptions) on the `org.eclipse.ui.forms.widgets.FormText` Widget.

The Xtext Statemachine Example should also be extended by the new project wizard / new file wizard to demonstrate the usage of the API.

[2019-11-18 11:31] cdietrich commented on #1235
i consider this as done for now.
@miklossy feels free to move more if you find the time

[2019-11-18 11:31] #1235 closed

[2019-11-18 11:36] cdietrich commented on #1073
see also https://github.com/eclipse/mwe/issues/116

[2019-11-18 11:48] miklossy commented on #1259
Fixed in 2.20

[2019-11-18 11:48] #1259 closed

[2019-11-18 13:43] cdietrich opened #1261 "Oomph: remove maintenance_2.11 stream"

[2019-11-20 07:39] cdietrich commented on #251
@kthoms please add a sentence to the release notes. then can be closed

[2019-11-20 07:46] kthoms commented on #251
Done.

[2019-11-20 07:46] #251 closed

[2019-11-21 06:56] miklossy commented on #1229
Fixed in 2.20.

[2019-11-21 06:56] #1229 closed

[2019-11-22 07:18] cdietrich commented on #1160
@szarnekow move to 2.21?

[2019-11-22 07:28] cdietrich commented on #1073
am not sure when we will get this done. i have a first version WIP, @szarnekow is working on to optimize it

[2019-11-22 10:33] #1261 closed

[2019-11-27 08:01] miklossy commented on #830
See also [#367013](https://bugs.eclipse.org/bugs/show_bug.cgi?id=367013)

[2019-11-28 16:52] lidochca commented on #1188
The only change that I would need is in SynchUtil.waitForBuild()

[code]

Can this be accepted?
We are using a plugin_customization.ini file and it will be sufficient for us to set this preference.

[2019-11-28 17:22] cdietrich commented on #1188
still dont have an answer to

[2019-11-28 17:56] lidochca commented on #1188
@cdietrich I am not sure what you mean.
You mean to extend the SyncUtil class in my project, to implement my own version or Rename Refactor ?

[2019-11-28 17:57] cdietrich commented on #1188
Subclass and Bind the classes that call the util and don’t call the util

[2019-12-02 10:13] cdietrich commented on #1073
have a working version now. will deliver with 2.21

[2019-12-02 14:49] lidochca commented on #1188
Thanks @cdietrich .
I tried to implement what you suggested about subclass and bind, but I am not very familiar how injection is used in xtext, and did not found yet how to override Rename Element action inherited from xtext. I can still give a try, but it already seems that many classes should be extended and maintained, at least those functions that should be overridden.
I think that better and

[2019-12-02 17:38] miklossy opened #1283 "Domainmodel example: endless loop while opening the Association Hierarchy view"
Step to reproduce:
1. Import the DomainModel Example shipped with the Xtext framework.
2. In the runtime Eclipse, create a java project with the following test.dmodel file:
[code]
3. Place the cursor into the Comment entity and try to open the Association Hierarchy view. The following error appears in the console of the host eclipse:
[code]

**Seems there is a problem with the Guice Bindings**.

S

[2019-12-02 17:53] cdietrich commented on #1283
wonder why there is no test for this thing

[2019-12-02 17:56] cdietrich commented on #1283
@miklossy i dont see where exactly your cursor is

[2019-12-02 17:57] miklossy commented on #1283
The cursor is located at the end of the line 25.

[2019-12-02 17:58] cdietrich commented on #1283
hmmm i dont get any traces

[2019-12-02 18:00] cdietrich commented on #1283
but i get a OOM

[2019-12-02 18:18] cdietrich commented on #1283
cannot reproduce on second machine.

[2019-12-02 18:31] miklossy commented on #1283
It was also interesting on my machine. First it worked, but later on suddenly it stopped working and since then it dies not work.

[2019-12-03 08:15] miklossy commented on #1283
See a possible fix: https://github.com/google/guice/issues/943#issuecomment-127427925

[2019-12-04 14:59] cdietrich commented on #1073
Fixed in 2.21

[2019-12-04 14:59] #1073 closed

[2019-12-06 07:47] cdietrich commented on #1283
@miklossy do you see where we miss some injects that have no bindings?

[2019-12-06 08:39] miklossy commented on #1283
I think it comes from the direction of https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui/src/org/eclipse/xtext/example/domainmodel/ui/editor/hierarchy/AssociationHierarchyBuilder.xtend#L29

[2019-12-10 11:42] miklossy commented on #1283
JUnit Plug-in test case that reproduce the issue:
[code]
Currently the test case fails. Removing the [following line](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui/src/org/eclipse/xtext/example/domainmodel/ui/editor/hierarchy/AssociationHierarchyBuilder.xtend#L29) makes the test pass. @cdietric

[2019-12-10 11:54] cdietrich commented on #1283
@miklossy yes i can confirm. @szarnekow any idea?

[2019-12-10 16:15] cdietrich commented on #1283
or
[code]

[2019-12-10 16:16] cdietrich commented on #1283
the artimetics example does the same thing

[2019-12-10 16:38] cdietrich commented on #1283
another idea would be.

- ask the global service provider for the interface
- treat the interface not found / not subclass of abstract case (no sure what to do then)
- add binding from the interface to the concrete case

[2019-12-11 08:48] miklossy commented on #1283
The arithemtics example does not make use of the `IJvmModelAssociations` class. That could explain why the infinite loop does not occur there.

[2019-12-11 08:50] cdietrich commented on #1283
i still dont see a relation to that. it might just be a coincidence not the cause. or the path to typereferences

[2019-12-12 13:52] ArneDeutsch commented on #1231
I would suggest to add the combobox specific for DOT (and other projects that need it) by using a parameter. Should be quite easy. And change nothing in the general case. Because in many scenarios the user ust don't care.

[2019-12-13 12:41] ArneDeutsch commented on #1228
I have an solution but am not sure if we should implement.
The "Messages.java" is not generated by the generator but by an ActiveAnnotation in the generated code. In result it is not possible to read the configured value from the mwe2 file. The usesr could also place the ActiveAnnotation at some other class that is not linked to mwe2 at all (just to make it clear that there is really no connection

[2019-12-13 12:43] cdietrich commented on #1228
for me this would not be a workaround but the correct solution. we might also add a string param with the header to the aa which would be another option

[2019-12-13 12:43] cdietrich commented on #1228
@szarnekow @miklossy  what do you think

[2019-12-13 13:02] szarnekow commented on #1228
The `Messages.java` should get the header of the class that contains the processed annotations. So I'm on the same page with Christian and Arne's proposal

[2019-12-13 13:06] ArneDeutsch commented on #1228
Not sure if you get my comment completely. Just to make this crystal clear:
"Messages.java" is NOT generated by only ONE file. Multiple files of the same package contribute to the contents. If the file comments in these classes are not identical, the comment in the generated "Messages.java" will be "random" (the commment from the last edited xtend file).

[2019-12-13 13:08] szarnekow commented on #1228
Understood. Let's not make it random but use a sorted list (by compilation unit path) and use the first docComment that's found.

[2019-12-13 13:18] miklossy commented on #1228
I am agree with @szarnekow

[2019-12-13 13:19] ArneDeutsch commented on #1228
I think accessing all the classes that contribute would complicate the code a lot. Because I have only the one class that I currently process in hand. It reads the existing file and adds/updates his own strings but rewrites the rest of the file from scratch. I could potentially scan the existing file (if any) using regex magic and avoid touching the comment this way, but that also would be quite b

[2019-12-13 13:27] ArneDeutsch commented on #1228
Thinking more about this, I guess that reading the old file, if it is there reading the header comment from that using regex and only write the new comment if there is no existing file would probably be the best way.

[2019-12-13 13:27] szarnekow commented on #1228
:+1: Sounds good to me

[2019-12-13 14:27] ArneDeutsch commented on #1228
Surprising: old implenmentation of getDocComment was like this:

[code]

[2019-12-13 14:45] szarnekow opened #1295 "Don't create markers on files in target folder"

[2019-12-15 11:55] szarnekow opened #1297 "m2e Integration should react to pom changes"
The `org.eclipse.xtext.m2e.XtextProjectConfigurator` implements `#configure` but should also provide `#unconfigure` and `#mavenProjectChanged` I suppose.

[2019-12-16 09:24] #1228 closed

[2019-12-17 08:05] szarnekow commented on #1297
To be discussed: What if the user deliberately configured other generation paths in Eclipse compared to maven?

[2019-12-18 07:15] #1295 closed

[2020-01-09 15:26] miklossy commented on #1228
Nice work @ArneDeutsch ! I have just tested it with the Xtext Statemachine example and your fix works like a charm! Thanks a lot!

[2020-01-11 08:32] cdietrich commented on #1214
@Bananeweizen any update?

[2020-01-14 14:43] kthoms commented on #1188
@lidochca Your patch shows that the desired behavior can be achieved by a customizing of class `SyncUtil`. Since instances of that class are injected in Xtext code, you can provide a customized implementation. So just subclass `SyncUtil`, create a Guice Module that binds `SyncUtil.class` to `YourSyncUtil.class` and register this Guice module with the `org.eclipse.xtext.ui.shared.overridingGuiceMod

[2020-01-14 15:06] cdietrich opened #1317 "Open Model Element Dialog: label for matches is cut"
Open Model Element Dialog: label for matches is cut

![Bildschirmfoto vom 2020-01-14 16-05-16](https://user-images.githubusercontent.com/238736/72355447-c9404880-36e7-11ea-9d4c-1ecd8a5caa4a.png)

[2020-01-15 09:13] miklossy commented on #1317
On Windows it looks like fine:
![image](https://user-images.githubusercontent.com/20393472/72420846-b6795280-377f-11ea-9c7e-affb0f57a9bf.png)

[2020-01-15 09:15] cdietrich commented on #1317
hmm i see the problem on different linux machines. will check on mac in the evening

[2020-01-15 11:15] miklossy commented on #1317
Fixed in 2.21.

[2020-01-15 11:15] #1317 closed

[2020-01-15 20:06] lidochca commented on #1188
Thanks @kthoms
I will try your suggestions and will let you know.
Sounds as a good idea for me, if it will work.
Regards
Lidia

[2020-01-22 13:03] lidochca commented on #1188
Hello Karsten @kthoms
I am struggling to make it work based on your last recommendations.
I tried few different combinations, nothing helps to load function waitForBuild() from my version of SyncUtil class. Could your please help me?
I did
` <extension
         point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
      <module
            class="org.eclipse.xtext.ui.rename.MyModule">
      <

[2020-01-22 13:07] cdietrich commented on #1188
which is the place/syncutil call you try to fix. are you sure its not lanuage specific and created via mydsluimodule=

[2020-01-22 13:20] lidochca commented on #1188
I posted my changes on

https://github.com/lidochca/xtext.skip.build.before.rename
https://github.com/lidochca/xtext.skip.build.before.rename/blob/master/plugin.xml
https://github.com/lidochca/xtext.skip.build.before.rename/blob/f2da1af5f71b8cc1da9216b49cfd1206bb3fc367/src/org/eclipse/xtext/ui/rename/MyModule.java
https://github.com/lidochca/xtext.skip.build.before.rename/blob/f2da1af5f71b8cc1da92

[2020-01-22 13:22] cdietrich commented on #1188
yes but why in overridingGuiceModule and not in MyDslUiModule if the rename participant is created by that

[2020-01-22 13:22] lidochca commented on #1188
I am trying to override SyncUtil.waitForBuild();
I think was not created thought mydsluimodule= , at least I did not found such references.

[2020-01-22 13:26] cdietrich commented on #1188
what about simply adding a binding and give it a try?

[2020-01-22 13:41] kthoms commented on #1188
I could reproduce your issue with your example, thanks. A problem here might be that you are trying to influence Xtext's behavior (rename refactoring) itself, not your own language.
I'm investigating this now a bit.

[2020-01-23 19:53] lidochca commented on #1188
Thanks a lot for your help, I also will see what else I can do, and let you know how it goes.

[2020-01-28 10:08] cdietrich opened #1326 "[LINUX] Buggy "Open Element Dialog""
- open  "Open Element Dialog"
- select the last-5 element
- restrict the filter to reduce number of elements and selected element is not contained
results in

[code]

[2020-01-28 10:10] cdietrich commented on #1326
am not sure if this happens with very big workspaces and without the patch for https://github.com/eclipse/xtext-eclipse/commit/84318de75507874828c317768a47a1e1bce49e8c only or if big workspaces just increase the liklyhood of a race conditon

[2020-01-28 10:28] cdietrich commented on #1326
![output](https://user-images.githubusercontent.com/238736/73255914-4cba6900-41c1-11ea-85e5-616bc41db40c.gif)

[2020-01-28 19:21] miklossy commented on #1326
I cannot reproduce the problem on Windows with `Xtext 2.21.0.v20200128-0222`
![screencast](https://user-images.githubusercontent.com/20393472/73297367-c5deae00-420b-11ea-9791-3b2ff2db1cdf.gif)
@cdietrich Can you give it a try on Windows?

[2020-01-29 10:05] cdietrich commented on #1326
i can reproduce this neither on Mac nor on Windows.
thus this seems to be a Linux problem only
cc @iloveeclipse

[2020-01-31 09:29] miklossy opened #1330 "Xtext Arithmetics Example: Add CodeMining Support"
The Xtext framework already provides API for CodeMining, see [Code Mining Support in Xtext](https://blogs.itemis.com/en/code-mining-support-in-xtext).

This feature should also be added to the Xtext Arithemtics Example.

[2020-01-31 09:30] cdietrich commented on #1330
isnt domain model example enhough?

[2020-02-12 19:52] riederm opened #1336 "Potential IndexOutOfBounds in org.eclipse.xtext.ui.editor.findrefs.ReferenceSearchResultContentProvider.expandToFirstChild()"
https://github.com/eclipse/xtext-eclipse/blob/783a40e6f7acb26d9cffdd58d9c377f55f587f3a/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/findrefs/ReferenceSearchResultContentProvider.java#L216

While updating some of my company's code to a newer Xtext-Version my collegue found a Bug in a contribution that I did couple of weeks ago.
In fact the check of course needs to be

`firstChildren.length

[2020-02-12 20:08] miklossy commented on #1336
Thanks for the bug report @riederm ! Would be nice if you could cone up with a PR containing the fix.

[2020-02-12 20:11] riederm commented on #1336
wow you're fast :-D

[2020-02-12 20:14] riederm commented on #1336
PR is here: https://github.com/eclipse/xtext-eclipse/pull/1337

[2020-02-12 20:22] riederm commented on #1027
is there a reason why EditorUtils calls
`openEditor.getAdapter(XtextEditor.class);` instead of `org.eclipse.core.runtime.Adapters.adapt(Object, Class<T>, boolean)` to also cover registered AdapterFactories?

[2020-02-12 20:30] cdietrich commented on #1027
i have doubts anyone who could answer this still reads here....

@szarnekow do you have any idea?

[2020-02-12 21:19] miklossy commented on #1336
Thank you Matthias for the bug report and for the fix!

Fixed in 2.21.

[2020-02-12 21:19] #1336 closed

[2020-02-13 08:54] szarnekow commented on #1027
I don't think there is any reason to not use `Adapters.adapt(..)` nowadays. EditorUtils was like this in 2010 whereas `Adapters.adapt(..)` is from 2015. So that might be the reason.
We should also check for other places where we use `IAdaptable.getAdapter(..)`

[2020-02-13 14:18] Bananeweizen opened #1339 "EclipseResourceFileSystemAccess2 file generation causes global rebuild of all build configs"
@cdietrich This is the issue you requested during consulting.

**Issue**
In a workspace we have a project with our Xtext nature, and an unrelated CDT project. On generating code from our Xtext project, the CDT project is rebuilt. There are no project references, generated files don't overlap with the CDT project, and there is no externally caused refresh of the workspace files (e.g. no modificatio

[2020-02-14 13:28] rytina opened #1340 "Editor-Search in undo operation cannot handle multiple editors for same input"
The Xtext Editor Undo operation throws an ClassCastException when the same input of an Xtext editor is also opened in a non-text editor (i.e. MultiPageEditorPart instead of ITextEditor). The following video  shows how to to reproduce this bug with two simple DSL's and a EMF model editor
https://drive.google.com/file/d/1hg1693KhNRG1VbFajCZ70Ecmt26yx7Eb/view

[2020-02-14 13:29] cdietrich commented on #1340
@rytina this is the issue fixed by https://github.com/eclipse/xtext-eclipse/pull/1335 correct?

[2020-02-14 13:29] rytina commented on #1340
Yes correct

[2020-02-14 13:33] cdietrich commented on #1340
fixed in 2.21

[2020-02-14 13:33] #1340 closed

[2020-02-16 12:39] kuniss commented on #653
This seems not to work (again?). For a freshly created Xtext project, created with the wizard, I get the following exception on a just added parsing test:
[code]
It's not urgent at all. I will switch back to Junit4. ... I just hit the Junit5 readio button at the wizard w/o thinking a lot.

My configuration:
Eclipse 2019-12
Xtext 2.20
Gradle project dependencies:
[code]

[2020-02-16 13:19] cdietrich commented on #653
@ArneDeutsch is this not part of our tests or do they run on oxygen only and no junit 5?

[2020-02-16 13:22] cdietrich commented on #653
to me this looks like that jdt does no longer work with older junit5 versions

[2020-02-16 13:24] cdietrich commented on #653
e.g. setting

[code]

seems to work.
maybe we should update the junit5 version in the bom and dont care about oxygen people anymore

[2020-02-16 13:32] cdietrich commented on #653
=> this should also be handled in a different/new issue

[2020-02-16 13:59] miklossy opened #1343 "Launch as Junit test not working for junit 5"
This is a follow up issue of https://github.com/eclipse/xtext-eclipse/issues/653#issuecomment-586701835 reported by @kuniss

**Step to reproduce:**
1. Create a fresh new Xtext MyDsl project with `JUnit 5 as Testing Support` and `Gradle as Preferred Build System`
![image](https://user-images.githubusercontent.com/20393472/74606080-c44b2c00-50cd-11ea-8c2a-81076f2987d7.png)
2. Execute the `GenerateMy

[2020-02-16 13:59] miklossy commented on #653
I created a separate issue: https://github.com/eclipse/xtext-eclipse/issues/1343

[2020-02-16 14:01] #653 closed

[2020-02-16 14:48] cdietrich commented on #1343
to me this looks like that jdt does no longer work with older junit5 versions

e.g. setting

	testCompile 'org.junit.jupiter:junit-jupiter-api:5.5.0'
	testRuntime 'org.junit.jupiter:junit-jupiter-engine:5.5.0'

seems to work.
maybe we should update the junit5 version in the bom and dont care about oxygen people anymore (or maybe oxygen can handle junit 5.5/5.6 too)

[2020-02-16 19:00] kuniss commented on #1343
Thanks for the prompt and fast processing, guys. As always! :smile:

[2020-02-16 19:58] cdietrich commented on #1343
unfortunately oxygen3a with junit 5.5.1 gives

[code]

=> which death should we die @szarnekow @kthoms
cc @tivervac you are one reason to keep oxygen ...

[2020-02-16 20:04] cdietrich commented on #1343
additionally adding testRuntime 'org.junit.platform:junit-platform-launcher:1.5.1' would solve this too but i have no idea what needs to be added and what not with this crappy junit 5

[2020-02-16 20:15] cdietrich commented on #1343
=> as there seems to be a workaround for oxygen i simply propose to update

[2020-02-16 20:21] miklossy commented on #1343
@cdietrich Would it make sense to adjust our integration tests in xtext-reference-projects to also catch such cases?

[2020-02-16 20:22] cdietrich commented on #1343
Yes.

[2020-02-17 09:10] cdietrich commented on #1343
=> we will go the route to ditch oxygen here with reference to workaround

[2020-02-18 13:38] cdietrich commented on #1027
same problem in ```org.eclipse.xtext.ui.refactoring2.ChangeConverter.findOpenEditor(IFile)```

[2020-02-18 18:08] cdietrich commented on #1343
i consider this fixed with 2.21

[2020-02-18 18:08] #1343 closed

[2020-02-18 18:16] cdietrich commented on #1339
i still wonder why CDT behaves like this.
JavaBuilder calls this method too `org.eclipse.jdt.internal.core.builder.JavaBuilder.mustPropagateStructuralChanges()`
i also dont see another possibility to restart the build loop / start it for a single project only

i dont know who has the knowledge about Eclipse Builders and how to solve this

@iloveeclipse as we are affected in our product too, maybe

[2020-02-18 21:04] riederm commented on #1027
i gave it a try but it is much more than expected.

I'll check all the files again tomorrow, for now all the adapter-calls begin to blurr.

I created two pull requests, but maybe we discuss if we really want all these changes?
I think it makes the code better, but it definetly needs a couple of eyes to check the changes.

https://github.com/eclipse/xtext-eclipse/pull/1347 (27 files)
https://github

[2020-02-19 08:02] cdietrich commented on #1339
i double checked with our environment again: although the builder for CDT is called, it does not find any deltas in `org.eclipse.cdt.managedbuilder.internal.core.CommonBuilder.build(int, IProject, IBuilder[], boolean, IProgressMonitor, MyBoolean)` and thus does nothing.
thus i wonder whats different in your setup. unfortunately CDT seems to have a lot of builders you can configure. thus i wonder h

[2020-02-20 11:27] cdietrich commented on #1339
@Bananeweizen @rytina i had another look. here is how CDT is configured in our project

![cdt](https://user-images.githubusercontent.com/238736/74929723-632c9c80-53dc-11ea-95bc-5a78f2d2690e.png)

how do this settings look like in yours?

[2020-02-20 14:43] WolfgangHa commented on #1339
The checkbox "Build configurations only when..." was NOT checked in our environment.
But when I check it to what is shown above I observe the same effect as before :-(

[2020-02-20 16:00] szarnekow commented on #1339
Is this a workspace or a project specific setting?

[2020-02-20 16:07] cdietrich commented on #1339
Go question. I checked on workspace only

[2020-02-21 09:12] cdietrich commented on #1160
move to 2.22

[2020-02-21 09:13] cdietrich commented on #1029
ping @szarnekow

[2020-02-21 09:15] cdietrich commented on #702
clear milestone

[2020-02-21 09:17] cdietrich commented on #400
clear milestone

[2020-02-21 09:27] cdietrich commented on #750
clear milestone

[2020-02-21 10:14] cdietrich commented on #1006
move to 2.22

[2020-02-21 10:14] cdietrich commented on #678
will clear milestone

[2020-02-21 10:15] cdietrich commented on #564
Will clear milestone

[2020-02-21 11:47] cdietrich commented on #1051
moved to 2.22

[2020-02-22 09:22] miklossy commented on #1343
I have just tested your fix @cdietrich and it is working! Thanks a lot for your assistance!

[2020-02-24 12:12] lsotnk commented on #1029
I think the problem might have been introduced with https://github.com/eclipse/xtext-eclipse/commit/f48945de5eb1ffaec688599267627b6626ea86e5.

syncUtil.waitForBuild is just a call to IWorkspace.build. If the line is inserted again after syncUtil.reconcileAllEditors the build runs automatically after the refactoring.

[2020-02-24 14:40] cdietrich opened #1355 "XtextReconciler vs. IDocumentListener that calls readonly vs. folding"
given the Xtext Grammar

[code]

and example model

[code]

and having a `IDocumentListener` that calls readOnly

e.g. patched `org.eclipse.xtext.ui.editor.model.XtextDocument.addXtextDocumentContentObserver(IXtextDocumentContentObserver)`

then editing the sample model as given in the comment gives

sometimes a wired formatting of the comment

[2020-02-24 14:42] cdietrich commented on #1355
the problem does not happen all the time. did not find out yet what needs to happen for it to be a problem.

[2020-02-24 14:44] cdietrich commented on #1355
<img width="549" alt="Bildschirmfoto 2020-02-24 um 15 44 05" src="https://user-images.githubusercontent.com/238736/75161692-84fb8b80-571c-11ea-9557-08de9f9f2012.png">

screenshot of wired folding

[2020-02-24 14:54] cdietrich commented on #1355
in the good case the folding is called like this

[code]

in the bad case from the listener

[code]

[2020-02-24 14:59] cdietrich commented on #1355
increasing the delay e.g. setDelay(5000); seems to increase the likelyhood of the problem

[2020-03-03 15:22] cdietrich opened #1361 "Keybinding conflicts occurred in Template Preference Page"
1. start runtime eclipse
2. open preferences and go to e.g. Xtend templates
3. close Preference Dialog
4. open the Preference dialog again

this will result in

[code]

on the first call into
`org.eclipse.xtext.ui.editor.embedded.EmbeddedEditorActions.initialize()`

the active contexts are
`[org.eclipse.ui.contexts.dialogAndWindow, org.eclipse.ui.contexts.dialog]`
on the second

`[org.eclipse.ui.c

[2020-03-03 15:41] ArneDeutsch commented on #1231
Will not be done in the framework but on langauge specific extensions.

[2020-03-03 15:41] #1231 closed

[2020-03-04 09:41] cdietrich commented on #1361
i also wonder why we need the `org.eclipse.xtext.ui.embeddedTextEditorScope` at all.
i also assume that a ShellListener (on activate) wont help if the embedded editor is in a view

[2020-03-04 10:06] cdietrich commented on #1361
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=560762

[2020-03-04 13:33] lsotnk opened #1362 "Full build because of a class path reorder"
Hi.

I'm not sure whether this is a bug.

We experience sporadic full builds of all xtext projects on startup of eclipse. Because of a classpath change ProjectClasspathChangeListener is triggered, which then schedules a build. The classpath change is just a reordering of two dependent plug-ins (flag IJavaElementDelta.F_REORDER).

org.eclipse.xtext.ui.util.JavaProjectClasspathChangeAnalyzer.isRelev

[2020-03-04 14:10] szarnekow commented on #1362
Generally speaking it is correct behavior. The classpath is order dependent. If you have two jars on the CP that contain the same packages in different versions, the order matters.
However, there is certainly room for improvement. Question is: how often do you change the order of classpath entries?

[2020-03-04 14:57] cdietrich commented on #1361
another quesiton is: the default editor in the preference (preview) is readonly.
@szarnekow do you know any custom bindings for the embedded editor that should work there?

do we need a possibiliy to create an embedded editor with no bindings/actions?

[2020-03-05 08:18] lsotnk commented on #1362
Ok, thanks.

I have to investigate why a reordering is happening in the first place.

The issue can be closed.

[2020-03-05 08:18] #1362 closed

[2020-03-06 07:00] lsotnk commented on #1362
The source of the reordering was a bug in PDE: https://bugs.eclipse.org/bugs/show_bug.cgi?id=560822

[2020-03-06 09:00] cdietrich commented on #1355
=> in general it is a bad idea to call readonly in an IDocumentListener

[2020-03-06 13:34] rytina commented on #1355
Why? Is this documented somewhere?

[2020-03-06 14:07] cdietrich commented on #1355
no its not. but right now you will always run into this problem is you directly or indirectly call xtextdocument.readonly from a idocumentlistener

[2020-03-06 15:01] rytina commented on #1355
When I understood you correctly, the problem is that when a document listener is running before the reconciler it updates the document although the method is intended to be "readOnly". Isn't that a bug?

[2020-03-06 15:07] cdietrich commented on #1355
There is a problem but we don’t have a solution yet. The reasonless has the problem that it works on an outdated model

[2020-03-06 15:13] rytina commented on #1355
Okey, let's discuss this offline

[2020-03-06 17:08] cdietrich commented on #1355
did some more debugging.
if DocumentLineDiffer runs after another listner
that triggers outdated date and thus folding. then
the folding changes seem to run on an outdated projection annotation model
which then leads to the wired side effects.

i still dont have any clue what the proper order of the anntation listeners is.
in the ok case (reconciler job runs before other readonly-calling document

[2020-03-06 17:12] cdietrich commented on #1355
if the reconciler can properly care about the update then it will schedule this one

java.lang.Exception
	at org.eclipse.jface.text.source.projection.ProjectionViewer$AnnotationModelListener.processModelChanged(ProjectionViewer.java:118)
	at org.eclipse.jface.text.source.projection.ProjectionViewer$AnnotationModelListener.modelChanged(ProjectionViewer.java:114)
	at org.eclipse.jface.text.source.An

[2020-03-12 08:49] cdietrich commented on #1361
Fixed in 2.22

[2020-03-12 08:49] #1361 closed

[2020-03-20 10:08] cdietrich commented on #1214
will close this for now as we cannot do anything beyond the new extension point

[2020-03-20 10:08] #1214 closed

[2020-03-24 13:35] cdietrich opened #1379 "ReplaceFileContentChange does not work together with a move change"
Doing a Move Refactoring together with a change serializer based refactoring on an emf resource (non text resource) then the created `ReplaceFileContentChange` wont work as it keeps only one file (the old one) and thus `org.eclipse.xtext.ui.refactoring2.ReplaceFileContentChange.isValid(IProgressMonitor)` will fail on the undo

(am not sure if this is a legit usecase but we were able to run into th

[2020-03-24 14:17] cdietrich commented on #1379
experiments (based in 2.18)

[code]

[2020-03-25 21:21] nbhusare commented on #1221
I problem is caused by the code on line 58 of the DomainmodelFormatter class (https://bit.ly/2UgfjrM). Setting the value of the "defaultNewLines" param to 0 resolves the issue.

I am not sure if the above change would have any side-effect.  @cdietrich Could you please confirm.

[2020-03-26 09:46] miklossy commented on #1221
@nbhusare ! Thanks for analysing this problem. Could you please verify if the additional newline is also inserted wenn invoking only the formatter without the quickfix?

[2020-03-26 11:09] cdietrich commented on #1221
i did some tests. they look good.
but i am not sure if my examples were sufficient.

i also dont know if this just fixes the symptoms and not the cause

[2020-03-26 11:34] nbhusare commented on #1221
@miklossy After making the change, I verified by manually invoking the formatter, and it looks good to me. I also had a feeling that the resolution only fixes the symptom, and hence I asked @cdietrich to confirm. Let me take some time to look into this properly.

[2020-03-30 07:26] masofcon opened #1382 "Field names in TokenTypeDefDetailsPart are not localizable"
I am using Eclipse Babel project to localize Eclipse plugins.
But there is no opportunity to localize syntax coloring preference page, generated by Xtext, because TokenTypeDefDetailsPart has non localizable field names

[2020-03-30 08:12] cdietrich opened #1383 "XtextBuilder should not call pollQueuedBuildData on clean"
XtextBuilder calls pollQueuedBuildData which may lead to a needRebuild call on the builder.
(for unrelated deltas)
this then leads to a immediate full build of the project.
(which undermines the clean)

we should remove the pollQueuedBuildData again. it will be called on following builds on the incremental build anyway.

Also org.eclipse.xtext.builder.impl.ClosedProjectsQueue.exhaust()
is protecte

[2020-03-30 08:21] miklossy commented on #1330
Fixed in 2.22.

[2020-03-30 08:21] #1330 closed

[2020-03-30 09:59] cdietrich commented on #1383
Fixed in 2.22

[2020-03-30 09:59] #1383 closed

[2020-03-30 10:11] cdietrich commented on #1382
Contributions are welcome

[2020-03-30 10:36] masofcon commented on #1382
@cdietrich OK, I will try to make a patch

[2020-03-31 06:37] cdietrich commented on #1382
Fixed in 2.22

[2020-03-31 06:37] #1382 closed

[2020-04-04 20:11] miklossy opened #1389 "Exception: An internal error occurred during: "calculating highlighting"."
Just hit the following exception while implementing the Xtext Domainmodel Tutorial:

- Eclipse 2020-03
- Xtext 2.22.0.v20200404-0123

![image](https://user-images.githubusercontent.com/20393472/78460458-3f3dc580-76c1-11ea-93b1-bcfb61b3997c.png)

[code]

[2020-04-04 20:36] miklossy commented on #1389
Could be someting related to Xtend.

[2020-04-05 06:40] cdietrich commented on #1389
Can you reproduce this with 2.21 release?

[2020-04-05 08:17] miklossy commented on #1389
Not really. I saw that problem yesterday. Today I am working with the same environment for a while and have not seen that problem till now. It could be something that occurs sporadically.

@cdietrich Can you extract some information from the stracktrace that could help us further identify/reproduce the problem?

[2020-04-05 08:25] miklossy commented on #1389
It could be something to do with the refactoring from Xtend to Java, so that the exception thrown by the `work.exec(param)` call became visible now through this [code](https://github.com/eclipse/xtext-core/blob/9158b09e19a3264abb71cb425c18f87eb9da4773/org.eclipse.xtext/src/org/eclipse/xtext/resource/OutdatedStateManager.java#L71).

[2020-04-05 08:26] cdietrich commented on #1389
This is why I am asking. Was the exception catched and swallowed before?

[2020-04-05 08:29] miklossy commented on #1389
Yes, that's the point, see my [comments](https://github.com/eclipse/xtext-eclipse/issues/1389#issuecomment-609378686) above.

[2020-04-05 08:30] cdietrich commented on #1389
How was the old generated code?

[2020-04-05 08:35] miklossy commented on #1389
You can find the old generated code [here](https://github.com/eclipse/xtext-core/blob/8fca1c654650f785de8d762d00784103db53b189/org.eclipse.xtext/xtend-gen/org/eclipse/xtext/resource/OutdatedStateManager.java#L101-L103)

[2020-04-05 08:36] cdietrich commented on #1389
@szarnekow any idea?

[2020-04-05 08:42] cdietrich commented on #1389
So the old code had a different set of try and catch

[2020-04-05 08:46] cdietrich commented on #1389
@miklossy can you also check if thecalling code was migrated

[2020-04-05 08:56] miklossy commented on #1389
Exactly.

[2020-04-05 08:56] miklossy commented on #1389
No. The [HighlightingReconciler](https://github.com/eclipse/xtext-eclipse/commits/master/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/editor/syntaxcoloring/HighlightingReconciler.java) was originally implemented in Java.

[2020-04-05 09:01] cdietrich commented on #1389
Would still help if this was somehow reproducible

[2020-04-05 09:12] cdietrich commented on #1389
public static <T> T throwUncheckedException(Throwable e) {
		if (e instanceof RuntimeException)
			throw (RuntimeException) e;
		if (e instanceof Error)
			throw (Error) e;
		if (e instanceof Exception)
			throw new WrappedException((Exception) e);
		throw new RuntimeException(e);
	}

public final class OperationCanceledException extends RuntimeException {

=> before we rethrow. now we wrap
=> cal

[2020-04-05 09:13] cdietrich commented on #1389
=> elmininating sneaky throw complely might not be a so good idea
cc @tivervac @szarnekow

how shall be proceed. call the sneeky throw again?

[2020-04-05 09:22] cdietrich commented on #1389
we should also go through other PRs for that pattern

[2020-04-05 09:24] miklossy commented on #1389
I found something reproducible: If I execute the [XtextGrammarQuickfixProviderTests](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.tests/src/org/eclipse/xtext/xtext/ui/editor/quickfix/XtextGrammarQuickfixProviderTest.java) test cases, I see the same exception in the console:

![screencast](https://user-images.githubusercontent.com/20393472/78471224-f5d88f00-772f-1

[2020-04-05 09:30] cdietrich commented on #1389
yes it get it

[2020-04-05 09:35] cdietrich commented on #1389
@miklossy see the log files in the results

[2020-04-05 09:36] cdietrich commented on #1389
(that seem to be not there for unknow reaons)

[2020-04-05 09:37] cdietrich commented on #1389
cause

    failure {
      archiveArtifacts artifacts: '**/target/work/data/.metadata/.log, **/hs_err_pid*.log'
    }

[2020-04-05 09:37] cdietrich commented on #1389
=> push a branch with a failing test and you will get all logs

[2020-04-05 09:38] miklossy commented on #1389
The problem is that the XtextGrammarQuickfixProviderTest test cases still passes, although exception is thrown.

[2020-04-05 09:40] cdietrich commented on #1389
test and arbritrary exceptions in log have nothing todo with each other in our setup

[2020-04-05 10:05] miklossy opened #1391 "Xtext Editor: 'Create rule' quickfix adds Linux line separator even on Windows."
When applying the `Create Rule ` quickfix on Windows, the newly created rule contains Linux line separators on Windows. Reproducible with the Xtext MyDsl example:
![screencast](https://user-images.githubusercontent.com/20393472/78471993-c4fb5880-7735-11ea-943c-8085cdfe1daa.gif)

[2020-04-05 12:22] miklossy commented on #1391
Fixed in 2.22

[2020-04-05 16:00] szarnekow commented on #1391
It’s unfortunately not correct to use the system line delimiter.

[2020-04-05 16:27] szarnekow commented on #1389
I'd prefer a case-by-case decision.
Throwing checked exceptions without those being declared on the method signature does not allow a catch clause to be used for that specific exception.
Instead of sneakyThread, I'd prefer `throwUnchecked` which wraps only if necessary. We should even consider wrapping in a specific runtime exception similar to the idiom used for UncheckedExecutionException or Run

[2020-04-05 16:33] miklossy commented on #1391
Thanks for the feedback @szarnekow ! I created the corresponding PR to use the `document.getLineDelimiter` instead of the `System.lineseparator`.

[2020-04-05 19:09] miklossy commented on #1391
Fixed in 2.22

[2020-04-05 19:09] #1391 closed

[2020-04-06 09:28] cdietrich commented on #1389
Fixed in 2.22

[2020-04-06 09:28] #1389 closed

[2020-04-10 17:28] miklossy commented on #1204
The problem still exists. @kthoms Could you please verify the state of the provided patch?

[2020-04-12 08:31] miklossy opened #1399 "Xtext Outline View - Return type styling"
Currently, the styling of the rule's return types is not very aesthetic (at least on Windows)
![screenshot](https://user-images.githubusercontent.com/20393472/79064355-79522d00-7ca8-11ea-80bf-2b02c3b1f524.png)

@cdietrich Could you upload a screenshot how it currently looks like on Mac?

I would suggest to use the same styling for the rule's return types as JDT does for the method's return type
![

[2020-04-12 08:44] cdietrich commented on #1399
linux

![Bildschirmfoto_2020-04-12_10-44-19](https://user-images.githubusercontent.com/238736/79064610-a43d8080-7caa-11ea-9d9c-6b0623f0cf11.png)

[2020-04-12 08:46] cdietrich commented on #1399
mac

![Bildschirmfoto 2020-04-12 um 10 46 06](https://user-images.githubusercontent.com/238736/79064641-dea71d80-7caa-11ea-8b3a-f0f8f006362c.png)

[2020-04-17 14:42] miklossy opened #1405 "TypeResourceUnloaderTest is flaky"
The org.eclipse.xtext.common.types.ui.notification.TypeResourceUnloaderTest.testCloseEditorAndDiscardWorkingCopy test is flaky, sometimes it is failing on Jenkins but succeeds on my local Windows computer.

See also https://github.com/eclipse/xtext-eclipse/pull/1400#issuecomment-615279534

[2020-04-24 07:11] miklossy opened #1408 "ClassCastException when double clicking in the Xtext Call Hierarchy view"
Reproducible with the Xtext MyDsl example and Xtext 2.22.0.v20200424-0123.

However, it works with Xtext 2.21.0.

![screencast](https://user-images.githubusercontent.com/20393472/80184151-57db3480-860a-11ea-9371-1cc13d74fc4f.gif)
[code]

@cdietrich Can you reproduce?

[2020-04-24 07:13] cdietrich commented on #1408
yes

[2020-04-24 07:44] miklossy commented on #1408
See PR: https://github.com/eclipse/xtext-eclipse/pull/1409

[2020-04-24 08:12] cdietrich opened #1411 "Add Folding test to non Example Codebase"

[2020-04-24 08:30] cdietrich commented on #1408
Fixed in 2.22

[2020-04-24 08:30] #1408 closed

[2020-04-24 10:31] szarnekow opened #1412 "Xtext outline icons are confusing"
<img width="500" alt="Screenshot 2020-04-24 at 12 30 09" src="https://user-images.githubusercontent.com/375492/80203408-65eb7e00-8627-11ea-9151-8dc79509519e.png">

Two times the same icon. One action is to enable filtering of terminal rules, the other action will show / hide the return types. The icon does not make much sense for either of these actions.

[2020-04-24 11:09] miklossy commented on #1399
Fixed in 2.22

[2020-04-24 11:09] #1399 closed

[2020-04-27 06:48] miklossy commented on #1411
Fixed in 2.22

[2020-04-27 06:48] #1411 closed

[2020-04-29 07:13] miklossy commented on #1221
I analyzed the problem and found that the additional newline is inserted while serializing the modified property.  This happens in the [serializeReplacement](https://github.com/eclipse/xtext-core/blob/f9b6d1bebe09dc5775d45671d255384a8160015c/org.eclipse.xtext/src/org/eclipse/xtext/serializer/impl/Serializer.java#L207-L213) method. The `text` variable contains the `title : String` text, and additio

[2020-04-30 13:25] miklossy opened #1422 "Exception when using a customized UIInjectorProvider for UI tests."
I would like to use a customized UIInjectorProvider while executing the ContentAssist UI tests. However, while executing, I get the following exception:
[code]
I use the following code snippet to create the customized UI Injector provider:
[code]
[code]

[code]

[2020-04-30 13:29] szarnekow commented on #1422
A custom UI injector provider will usually lead to EMF singletons being corrupted.

The only viable option is to use a child injector of the "real" UI injector.

[2020-04-30 13:30] miklossy commented on #1422
I uploaded the project based on the mydsl example into the [Xtext issues GitHub](https://github.com/itemis/xtext-issues/tree/issues/xtext-eclipse/1422) repository

[2020-04-30 13:32] szarnekow commented on #1422
A little bit of an explanation:
- The real UI injector is initialised and will populate the EMF and Eclipse singletons.
- The plugin.xml uses the ExecutableExtensionFactory which works with the real injector.
- Your test creates a new injector and destroys the contents of the EMF registries.
- The UI tests will have code path's that continue using the real UI injector via the ExecutableExtensionFa

[2020-04-30 13:34] miklossy commented on #1422
Thanks for the quick reply! I will give it a try using a child injector of the "real" UI injector.

[2020-04-30 17:23] miklossy commented on #1422
I have been experimenting with the child injector for a while and still no success. Could it be that the child injector is not designed to override bindings of the parent injector?
![screenshot](https://user-images.githubusercontent.com/20393472/80740228-1110a180-8b18-11ea-8a0a-5abe5225e74d.png)

[2020-04-30 18:12] szarnekow commented on #1422
Yes, that is not supported.
Maybe a step backwards: what is the concrete problem you are working on?

[2020-05-01 07:38] miklossy commented on #1422
**Generally** speaking I am working on an Xtext project based on the MyDsl example where the valid greeting names are coming from an external webservice/database. The content assist should be adapted that the valid greeting names are offered to the user. To do that, I defined the [IGreetingNamesProvider](https://github.com/itemis/xtext-issues/blob/issues/xtext-eclipse/1422/org.xtext.example.mydsl/

[2020-05-04 10:53] miklossy commented on #1412
Maybe we could use this icon for the terminal rules:
![terminal_node](https://user-images.githubusercontent.com/20393472/80959028-45c97500-8e06-11ea-98f5-87e60bc6d9c8.gif)

[2020-05-04 11:45] szarnekow commented on #1412
:+1:

[2020-05-05 08:30] miklossy opened #1430 "Mark the entire org.eclipse.xtext.junit4 project as deprecated"
The `org.eclipse.xtext.junit4` project has been superseded by the `org.eclipse.xtext.testing` and `org.eclipse.xtext.ui.testing` projects. However, not all classes/interfaces are marked as deprecated in the deprecated project. Moreover, some element of the deprecated `org.eclipse.xtext.junit4` project is still in use in the Xtext code-base, e.g:
<img width="894" alt="Screenshot 2020-05-05 at 09 22

[2020-05-06 07:11] szarnekow opened #1435 "ReferenceSearchResultContentProvider is leaking"
It's added as a listener to the index but never removed.

[2020-05-07 15:40] #1435 closed

[2020-05-08 14:52] miklossy commented on #1221
I can also reproduce this problem based on the [NoJdtTestLanguage](https://github.com/eclipse/xtext-core/blob/master/org.eclipse.xtext.testlanguages/src/org/eclipse/xtext/testlanguages/noJdt/NoJdtTestLanguage.xtext) in the xtext-core repository, if extend its Formatter as follows:
[code]

[2020-05-10 16:01] miklossy opened #1443 "ClassCastException when multi-quickfixing enum values"
![screencast](https://user-images.githubusercontent.com/20393472
/81504189-2475f680-92e8-11ea-8533-29079c16df83.gif)

[code]

[2020-05-10 16:05] miklossy commented on #1443
I uploaded the sample project to the [xtext-issues repository](https://github.com/itemis/xtext-issues/tree/issues/xtext-eclipse/1443). It contains a corresponding [MyDslMultiQuickfixTest ](https://github.com/itemis/xtext-issues/blob/issues/xtext-eclipse/1443/org.xtext.example.mydsl.ui.tests/src/org/xtext/example/mydsl/ui/tests/MyDslMultiQuickfixTest.xtend)test case that reproduces the problem.

[2020-05-10 16:08] cdietrich commented on #1443
@miklossy does this happen with 2.21 release too?

[2020-05-10 16:19] cdietrich commented on #1443
=> imho a bug in `protected SerializationStrategy updateSingleValue(EObject object, EStructuralFeature feature, IAstRegion region) {`

[2020-05-10 16:20] miklossy commented on #1443
I can also reproduce with Xtext 2.21. I encountered the problem while implementing multi quickfixes, but the root of the problem could be of course deeper.

[2020-05-11 17:42] miklossy opened #1447 "Provide ui test infrastructure for testing multi quickfixes."
It would be useful to extend the Xtext ui test infrastructure to enable the comfortable testing of multi quickfix capabilities.

**Hint:** The `org.eclipse.xtext.ui.tests.editor.quickfix.AbstractMultiQuickfixTest` already provides such basic functionality.

- [x] Move `AbstractMultiQuickfixTest` class to the `org.eclipse.xtext.ui.testing` package.
- [x] Define test cases based on that base class f

[2020-05-12 10:12] miklossy opened #1448 "Add new Xtext editor quickfixes on *.xtext files"
The Xtext editor should provide the following quickfixes on `*.xtext` files:

- Provide quickfixes for illegal rule references (see [#331943](https://bugs.eclipse.org/bugs/show_bug.cgi?id=331943))
- Provide quickfixes for illegal hidden token definitions (see [#331942](https://bugs.eclipse.org/bugs/show_bug.cgi?id=331942))
- Provide more quickfixes for missing rules (see [#331941](https://bugs.ecl

[2020-05-12 15:57] miklossy commented on #1221
Fixed in 2.22

[2020-05-12 15:57] #1221 closed

[2020-05-13 07:33] szarnekow opened #1450 "Make usage of internal JDT API compatible to latest changes"
In https://github.com/eclipse/xtext-eclipse/blob/106b597f755f63be3ea81c88865ce38c0b4cf343/org.eclipse.xtext.common.types.ui/src/org/eclipse/xtext/common/types/ui/notification/JavaBuilderState.java#L226 we read the references field from JDTs internal State which is about to be changed via https://git.eclipse.org/r/#/c/162792/

[2020-05-13 07:49] iloveeclipse commented on #1450
@cdietrich : I must know which effect this may have on our product, because I want to pull it into our custom Eclipse build.
Could you please check if we are affected or not?
I see where the code is used (com.advantest.itee.tpl.ui.internal.BuilderDeltaConverter2.convertChangedCompilationUnit(IJavaElementDelta, List<Delta>)), but it doesn't say me much.

Obviously the logic in org.eclipse.xtext.com

[2020-05-13 07:51] cdietrich commented on #1450
yes this will break our code
(correct reaction to changes/removals of TM-Java Files in DSL files)

[2020-05-13 07:53] cdietrich commented on #1450
unfortunately patching is hard as we use statics

[2020-05-14 13:29] philip-alldredge commented on #326
Is there any hope for this issue to be resolved?

[2020-05-14 13:45] szarnekow commented on #326
There is always hope.
But I don't think this is something we actually want to change. It is important, that clients get the chance for taking some sort of ownership for the dirty state they are managing. Otherwise arbitrary clients could override a previously contributed dirty state by accident which could lead to all sorts of interesting effects.
Well behaved clients keep track of the dirty state

[2020-05-14 14:42] philip-alldredge commented on #326
Thanks for the quick explanation and pointing me to the `org.eclipse.xtext.ui.editor.XtextEditor.validateEditorInputState()` method. It sounds like it is intended behavior so I'll close.

[2020-05-14 14:42] #326 closed

[2020-05-16 14:48] #1450 closed

[2020-05-20 05:56] miklossy commented on #1447
@drkstr101 : Thanks for offering you support on maintaining documentation, creating code samples, test cases, etc. It would be awesome if you could take care of this issue.

[2020-05-21 00:23] drkstr101 commented on #1447
My pleasure! I will take a look and see what I can do.

[2020-05-25 06:55] cdietrich commented on #1006
move to 2.23

[2020-05-25 06:56] cdietrich commented on #1160
move to 2.23

[2020-05-25 07:57] cdietrich commented on #1051
TODO consider gettring rid of the fragment alltogether

[2020-05-25 10:11] szarnekow commented on #1027
Thank you very much for your work on this @riederm. Greatly appreciated!

[2020-05-25 10:11] #1027 closed

[2020-05-25 16:01] drkstr101 commented on #1447
Just a quick update...

I've freed up some time this week al will begin working on this now. I was unable to do the full build, but I believe it is just test failures, so I will move past it for now and attempt to make my changes by building the components individually. I will post another update once I've made some meaningful progress.

[2020-05-25 20:54] drkstr101 commented on #1447
Alright, so I've done the first and easiest of the 3 tasks I've understood in the description.

1. This class should be moved to the org.eclipse.xtext.ui.testing package

Which leaves;

2.  The code should be cleaned up

I will hold off on this for a bit until I have a better understanding of what needs to be cleaned up, which leaves;

3. further test cases based on that base class should be added

[2020-05-25 20:58] drkstr101 commented on #1447
BTW, I am sure there are developer guides laying around and I am about to take a look for them myself, but if you know of any helpful resources that are a little more difficult to find and are related more to Xtext than Eclipse in general, please do share!

[2020-05-26 09:00] miklossy commented on #1447
The [Xtext Contributing Guide](https://github.com/eclipse/xtext/blob/master/CONTRIBUTING.md#set-up-your-eclipse-workspace) describes the necessary steps on `How to set up your Xtext development environment`.

Once your development environment is properly set up, you should have both the Xtext and the Xtend repositories checked out in your workspace.

I would suggest to start implementing MultiQuic

[2020-05-26 12:49] asheiduk opened #1463 "annotations turn grey or go missing when executing "validate" from context menu"
The error/warning annotations in an open editor go missing or are greyed when explizit validation is triggered.

Steps to reproduce:
 - Use the "Hello World" project and enable the check.
 - Start guest eclipse.
 - Type a file like this:
[code]
- Save
- Notice that there is one warning annotation both in the left vertical ruler and in the right overview ruler.
- Open the context menu of the **edit

[2020-05-26 13:11] miklossy commented on #1463
Thanks for your bug report @asheiduk ! I could also reproduce the problem with Xtext 2.22.0.v20200525-0122
![screencast](https://user-images.githubusercontent.com/20393472/82904688-19b39680-9f63-11ea-8e41-d22dbb224e8d.gif)

[2020-05-26 13:38] szarnekow commented on #1463
Please note that "expensive" validations and the manual validate action are not meant to be used along with the XtextBuilder in the same project. If you intend to do that, the marker management is up to the language implementor.

[2020-05-26 15:22] drkstr101 commented on #1447
Thank you so much for taking the time to give me such detailed and helpful info! I will start digesting it all so I can start working on the next step right away.

Cheers!

[2020-05-27 09:29] asheiduk commented on #1463
@szarnekow I must admitt that I don't understand what you are trying to tell me.

The hover says "expensive Validation" but it executes **all** checks and therefore
handles **all** errors.

Both the menu action and the build command are configured by default.
So I guess everyone assumes that this **should** work together out of the box.

I have no idea what **project specific** code would be requi

[2020-05-27 15:03] nbhusare commented on #1448
@miklossy I would like to work on this issue. Kindly let me know if that is ok.

[2020-05-27 15:31] miklossy commented on #1448
@nbhusare Would be awesome if you could take care of this issue. Thanks a lot in advance!

[2020-05-27 20:07] drkstr101 commented on #1447
@miklossy I was definitely doing things the hard way before! Now I am cooking with gas, using the very handy Contributes bundle to make my changes. I was doing everything manually before. Oops!

I should be able to get a couple test cases in there for you soon.

Cheers!

[2020-05-28 01:18] drkstr101 commented on #1447
@miklossy The next step will take place in `xtext-xtend`, so I have submitted a PR for the first step to `xtext-eclipse` as https://github.com/eclipse/xtext-eclipse/pull/1464

Now I will use this to add `EqualsWithNullMultiQuickfixTest` and `RemoveUnnecessaryModifiersMultiQuickfixTest` to `xtext-xtend`. More to follow.

Cheers!

[2020-05-28 14:04] loradd commented on #1448
@miklossy sorry for the late reply!
I could also work on this, @nbhusare let me know if you need support.

[2020-05-28 14:23] miklossy commented on #1448
Thanks for your reply @loradd . I would sugges that @nbhusare will take care of this issue, for you @loradd I created a similar one to the Xtend repository: https://github.com/eclipse/xtext-xtend/issues/1060 . Please comment on that issue if you could take care of that one. Thanks!

[2020-06-03 09:53] cdietrich commented on #1463
ping @szarnekow

[2020-06-03 10:39] kthoms commented on #1447
@drkstr101 @miklossy Can this considered fixed with the merged PR?

[2020-06-03 11:04] miklossy commented on #1447
@kthoms The merged PR was only the first step towards the entire fix. I updated the description to better reflect all the things that needs to be done before this issue can be considered as fixed.

[2020-06-18 06:41] cdietrich opened #1476 "XtextBuilder might miss OperationCanceledException"
If the build is cancelled in the last `BuilderParticipant` in `RegistryBuilderParticipant` after the doGenerate call and e.g. Parallel Generation is used for that one, then it might happen that the Parallel Build is actually cancelled (after check for last element in `org.eclipse.xtext.builder.ParallelBuilderParticipant.doBuild(List<Delta>, Map<String, OutputConfiguration>, Map<OutputConfiguration

[2020-06-18 07:08] szarnekow commented on #1476
Yes, that sounds correct to me.

[2020-06-18 07:22] cdietrich commented on #1476
Fixed in 2.23

[2020-06-18 07:22] #1476 closed

[2020-07-01 10:49] szarnekow opened #1484 "Make TemplatePositionUpdater public"
It is currently only package visible but may be handy if a language implements bigger parts of the content assist infrastructure differently.

[2020-07-01 11:30] #1484 closed

[2020-07-01 19:33] nbhusare commented on #1448
@szarnekow - The method `XtextGrammarQuickfixProvider.fixUnresolvedRule(Issue, IssueResolutionAcceptor)`, on [line 144](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/editor/quickfix/XtextGrammarQuickfixProvider.java#L144), specifically gets a container of type `ParserRule`. Yet, on [line 149](https://github.com/eclipse/xtext-eclipse/

[2020-07-03 09:43] szarnekow commented on #1448
It's a bug. It should probably get a container of type AbstractRule in line 144.

[2020-07-06 13:17] nbhusare commented on #1448
@szarnekow I have replaced the existing PR's with new ones. I have addressed the review comments in the same. Kindly have a look.

[2020-07-12 12:34] cdietrich opened #1489 "DirtyStateEditorSupportIntegrationTest Fail with latest"
DirtyStateEditorSupportIntegrationTest Fails with latest

https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/926/

[2020-07-12 12:43] cdietrich commented on #1489
Why does sending SWT.BS
Event lead to text
BackSpace?

[2020-07-13 08:29] cdietrich commented on #1489
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=565164

[2020-07-14 08:01] cdietrich opened #1490 "DirtyStateEditorSupportIntegrationTest does not work on Mac/(Sometimes)Windows"
DirtyStateEditorSupportIntegrationTest does not work on Mac

@miklossy does it work on windows?

[2020-07-14 08:27] miklossy commented on #1490
Currently I do not have the possibility to check.
@ArneDeutsch Could you try it out on Windows?

[2020-07-15 09:15] cdietrich commented on #1490
Test is fine one windows

[2020-07-17 08:16] cdietrich commented on #1489
Seems to be fixed again

[2020-07-17 08:16] #1489 closed

[2020-07-17 09:19] cdietrich commented on #1490
i have no clue what is happening here.
maybe the test should be done in a completely different way

[2020-07-19 06:40] nbhusare commented on #1448
@miklossy We have merged the PR's. Could you please close this issue. Tx

[2020-07-19 06:45] miklossy commented on #1448
Thanks for your contibution @nbhusare ! I would like to try  out the new quickfixes before closing this issue.

[2020-07-20 05:09] miklossy commented on #1448
@nbhusare  I took a look at the current state of the fix and found the following shortcomings:

- In some cases, the `Convert terminal fragment to terminal rule` quickfix is offered but has no effect:
![screencast](https://user-images.githubusercontent.com/20393472/87901365-1fa39080-ca57-11ea-8519-1ff8a8b9361a.gif)

- Did you fix the bug [#331941](https://bugs.eclipse.org/bugs/show_bug.cgi?id=3319

[2020-07-21 06:34] nbhusare commented on #1448
@miklossy Let me take a look at the above.

[2020-07-21 09:41] nbhusare commented on #1448
@miklossy I have raised a PR ([xtext-eclipse/pull/1492](https://github.com/eclipse/xtext-eclipse/pull/1492)) to address the first issue you reported above. For the second one, to show the two quick-fixes proposals (Create terminal..., Create terminal fragment...), I added the annotation `@Fix(XtextLinkingDiagnosticMessageProvider.UNRESOLVED_RULE)` on the methods `fixUnresolvedTerminalRule()`, and

[2020-07-21 10:03] cdietrich commented on #1448
@nbhusare why are there 3 quickfixed created at all?
how to reproduce this?

[2020-07-21 10:14] miklossy commented on #1448
Thanks @cdietrich for jumping in and taking over!

[2020-07-21 10:36] nbhusare commented on #1448
@cdietrich Sorry, by 3 quick-fixes do you mean the "Change to 'PQR'" ones, or the Create XX ones?
To reproduce the issue, please add annotation `@Fix(XtextLinkingDiagnosticMessageProvider.UNRESOLVED_RULE)` to the methods `fixUnresolvedTerminalRule()`, and `fixUnresolvedTerminalFragmentRule()` in `XtextGrammarQuickFixProvider`. Please use `Model: a=ID2` grammar as an example.

[2020-07-21 10:40] cdietrich commented on #1448
if you call createLinkingIssueResolutions three times and dont filter the typo fixes then of course you get 3 fixes

[2020-07-21 10:48] nbhusare commented on #1448
@cdietrich Tx for the tip. Let me take a look.

[2020-07-21 14:11] OLibutzki opened #1493 "m2e: Xtext sets source folder on project too often"
Xtext is able to derive the Eclipse source folder from the xtext-maven-plugin. The outputDirectory is added to the Eclipse build path automcatically.

Unfortunately the outputDirectory is added to Eclipse too often. In combination with Maven plugin execution which are marked with `<?m2e execute onIncremental?>` this leads to inifinite loops.

- The Maven plugin is executed
- Xtext adds a source fo

[2020-07-21 14:14] OLibutzki commented on #1493
I'm sorry. Obviously the loop is not caused by Xtext. The Maven plugin generates a file. The generated file triggers the plugin again and so on... Sorry.

[2020-07-21 14:14] #1493 closed

[2020-07-23 14:22] cdietrich commented on #1463
we are affected  by a similar issue.
debugging
{{org.eclipse.ui.texteditor.ResourceMarkerAnnotationModel.batchedUpdate(IMarkerDelta[])}}
i can see adds+deletes instead of modify
maybe thats the problem.

[2020-07-23 14:49] cdietrich commented on #1463
nope:
org.eclipse.xtext.ui.editor.validation.AnnotationIssueProcessor.updateMarkerAnnotations(IProgressMonitor)
marks them as gray as it assumes they will be recreated by the reconciler

[2020-07-23 15:18] cdietrich commented on #1463
maybe we can do something like

[code]
in the handler.
@asheiduk  could you give that a try?

[2020-07-23 15:19] cdietrich commented on #1463
ok would not create a fast resource master.
so maybe both

[2020-07-23 15:22] cdietrich commented on #1463
maybe something like

[code]

[2020-07-23 15:26] cdietrich commented on #1463
or even simpler

[code]

[2020-07-24 13:18] nbhusare commented on #1448
@cdietrich @szarnekow I came across the following issues while working on this task. Please have a look.
Also filed jiras - https://bugs.eclipse.org/bugs/show_bug.cgi?id=565523, https://bugs.eclipse.org/bugs/show_bug.cgi?id=565524 respectively.

1. In the grammar below, the quick-fix "Remove Hidden token definition" fails with the following error. The serializer fails in serializing the broken ref

[2020-07-26 08:42] miklossy commented on #1447
I have just added the documentation about the `AbstractMultiQuickfixTest` base class to the [UI testing section](https://www.eclipse.org/Xtext/documentation/310_eclipse_support.html#ui-testing) on the Xtext website.

[2020-07-28 09:17] cdietrich opened #1494 "Race Condition on loading index from multiple non workspace locking threads"
there is a Race Condition on loading index from multiple non workspace locking threads
[code]

[code]

as you can see `(AbstractBuilderState).load() line: 92` both threads are in the `NO` case and call `workspace.run` with no scheduling rule. i assume we have to pass `ResourcePlugin.getWorkspace().getRoot()` there.

what do you thing @szarnekow? cc @iloveeclipse

[2020-07-28 09:25] szarnekow commented on #1494
Please see also the comment in `org.eclipse.xtext.ui.resource.Storage2UriMapperJavaImpl.initializeCache(boolean)` I don't think it's possible to use a scheduling rule here.
We could synchronize org.eclipse.xtext.builder.builderState.EMFBasedPersister.load() on the class object, e.g.
[code]

[2020-07-28 09:38] iloveeclipse commented on #1494
Or we could create IJobManager.newLock() in the provider and use this lock - this could avoid deadlocking because deadlocks on ILock's can be resolved by platform.

[2020-07-28 09:41] cdietrich commented on #1494
locking in the Persister does not work as the second one will return empty list after called.
=> we would have to move the lock again into the runnable.
nut i fear that one will introduce some deadlocks again

[2020-07-29 05:58] cdietrich commented on #1494
Fixed in Xtext 2.23

[2020-07-29 05:58] #1494 closed

[2020-07-31 05:52] miklossy opened #1497 "Provide ui test infrastructure for testing the code mining capabilities."
It would be useful to extend the Xtext ui test infrastructure to enable the comfortable testing of code mining capabilities.

[2020-07-31 15:13] miklossy commented on #1497
Thanks @cdietrich for the rich reviews!

Fixed in 2.23

[2020-07-31 15:13] #1497 closed

[2020-07-31 17:32] miklossy commented on #1447
@drkstr101 : Thank you very much for your contribution!

Fixed in 2.23

[2020-07-31 17:32] #1447 closed

[2020-08-03 08:45] cdietrich commented on #1448
ping @szarnekow

[2020-08-04 14:27] cdietrich opened #1503 "Xtext does not remove markers from "toBeDeleted" resource"
- if you have a dsl file with markers
- and if you rename that file (to a non Xtext-managed) file extension
- then the markers on the file persist.

am not sure if this is a bug or a feature.

[2020-08-04 14:28] cdietrich commented on #1503
Renaming ecore files shows the same behaviour.
i dont know if there is a way to rename java files without JDT hooking in

[2020-08-04 14:41] cdietrich commented on #1503
i assume the main paintpoint is that we dont know the new resource at the point of build.
so maybe the renaming should care about removing the markers

[2020-08-04 14:48] cdietrich commented on #1503
JDT does

[code]

[2020-08-06 04:29] miklossy opened #1504 "Give the IProjectCreator.getResult() method a more meaningful name"
I would suggest to create a new method `IFile getFileToOpen();` in the [IProjectCreator](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/wizard/IProjectCreator.java) interface and deprecate the `IFile getResult(); ` method in favor of the new one.

See also the corresponding [javadoc comment](https://github.com/eclipse/xtext-eclipse/blob/955c8c1fe

[2020-08-06 06:26] szarnekow commented on #1504
Please keep in mind that this interface exists since 2.4. deprecating the method is probably not sufficient. All call paths in the framework need to honor the fact that clients may have overridden the original getResult method. The change may not carry its own weight.

[2020-08-06 06:28] szarnekow commented on #1504
The best we can do is probably adding a default method to the interface with the better name and continue using getResult in all implementations but use the new method where we ask for the file from the outside.

[2020-08-06 12:11] Yogendra0Sharma commented on #1504
@szarnekow can I work on this issue? Please assign it to me. Thanks

[2020-08-06 13:55] szarnekow commented on #1504
Sure thing, first come first serve :) Sorry @drkstr101, but @Yogendra0Sharma was slightly faster.

[2020-08-06 19:35] drkstr101 commented on #1504
Cheers mate! The early bird gets the worm. :)

[2020-08-07 04:08] miklossy commented on #1412
@drkstr101 Would be awesome if you could take care of this issue.

[2020-08-07 04:22] miklossy opened #1505 "Improve AbstractMultiQuickfixTest separator"
The Xtext UI test infrastructure for testing multi-quickfixes (class [AbstractMultiQuickfixTest](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.ui.testing/src/org/eclipse/xtext/ui/testing/AbstractMultiQuickfixTest.java)) uses the  `----` characters to separate the waring/error messages from the actual DSL file content. Currenly, the length of this separator is dynamically c

[2020-08-07 07:47] szarnekow commented on #1505
I'm fine with a fixed length delimiter, e.g. `-----` as proposed as option (1).

[2020-08-08 00:19] drkstr101 commented on #1505
@miklossy This is now my current task (starting tomorrow morning). I will do some brainstorming tonight.

Cheers!

[2020-08-08 00:31] drkstr101 commented on #1412
@miklossy Yes I can do this. Should be an easy fix.

[2020-08-09 16:09] drkstr101 commented on #1412
@szarnekow @miklossy I'm actually having trouble finding where this icon is referenced. It doesn't appear to be in `o.e.xtext.ui/icons`. I see the other icons in there referenced in `org.eclipse.xtext.ui.internal.XtextPluginImages`, so I was looking for an entry somewhere in there to swap out the icon asset. Is my understanding of where this change needs to go correct?

[2020-08-09 16:16] cdietrich commented on #1412
see https://github.com/eclipse/xtext-eclipse/blob/3cc3e8cfbfc2669de731ee742783aff57ded076c/org.eclipse.xtext.xtext.ui/src/org/eclipse/xtext/xtext/ui/editor/outline/FilterTerminalRulesContribution.java#L54

[2020-08-10 14:23] nbhusare commented on #1448
@miklossy Do you want me to add the details as a comment in the jira or directly to the 2020-09-01-version-2-23-0.md file?

[2020-08-10 14:37] miklossy commented on #1448
Directly to the 2020-09-01-version-2.23.md file with a Pull Request

[2020-08-10 16:30] drkstr101 commented on #1412
See: https://github.com/eclipse/xtext-eclipse/pull/1509

[2020-08-11 09:23] nbhusare commented on #1448
@miklossy Kindly review - https://github.com/eclipse/xtext/pull/1823/files

[2020-08-13 08:47] cdietrich opened #1511 "Fix com.sun.jdi crap with Java 8 + latest"
https://www.eclipse.org/lists/cross-project-issues-dev/msg17772.html
https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/977/console

[2020-08-19 12:32] miklossy commented on #264
See also https://www.eclipse.org/forums/index.php/t/1104936/

[2020-08-21 06:20] cdietrich commented on #1160
move to 2.24

[2020-08-21 06:21] cdietrich commented on #1006
move to 2.24

[2020-08-21 06:26] cdietrich commented on #1448
@miklossy what is the state of this issue?

[2020-08-21 06:28] cdietrich commented on #1029
move to 2.24

[2020-08-23 08:49] cdietrich opened #1518 "Bogus Maven config of domain model example"
when i build the domain model on my mac with `mvn clean install -Dmaven.repo.local=.m2 clean install -f org.eclipse.xtext.example.domainmodel.releng -U`

i am getting

[code]

for some reason (maybe something hashcody?!?) the add-jars plugin is running before the xtend maven plugin
or it produces some stuff the xtend-maven-plugin stubles on

this seems to happen on my mac only. no idea why. will t

[2020-08-24 12:23] cdietrich commented on #1518
cleaning the local maven repo (also the one in home) resolved the problem

[2020-08-24 12:23] #1518 closed

[2020-08-27 12:15] asheiduk commented on #1463
This fixes the issue for us -- assuming the code goes to `Vermittlungsschwerpunkte` ;-)

Just for reference: While retesting I discovered that this is all about `FAST` checks -- `NORMAL` and `EXPENSIVE` seemed to work already fine.

[2020-08-27 12:18] cdietrich commented on #1463
@szarnekow what do you think?

[2020-08-27 13:20] szarnekow commented on #1463
I'd be ok with changing the `ValidateActionHandler`

[2020-08-28 08:00] cdietrich commented on #1448
@miklossy @nbhusare is there anything left?

[2020-08-31 06:53] cdietrich commented on #1448
i assume this fixed. if there is anything left, please create a new issue

[2020-08-31 06:53] #1448 closed

[2020-08-31 09:15] cdietrich commented on #1490
have no clue ....

[2020-09-01 06:37] cdietrich commented on #1463
Fixed in 2.24 (due in december)

[2020-09-01 06:46] cdietrich commented on #1511
fixed in 2.24

[2020-09-01 06:46] #1511 closed

[2020-09-03 12:14] nbhusare opened #1527 "Replace the hard-coded \t (tab) character with o.e.x.formatting.IIndentationInformation in the XtextGrammarQuickfixProvider"
PS - https://github.com/eclipse/xtext-eclipse/pull/1507#discussion_r475400146

[2020-09-03 12:16] nbhusare opened #1528 "Avoid the quickfix to create a terminal fragment where the fragment usage would be illegal"
PS - https://github.com/eclipse/xtext-eclipse/pull/1507#discussion_r475397673

[2020-09-03 12:17] nbhusare commented on #1527
@miklossy I'll work on this issue as I had made the original fix.

[2020-09-03 12:18] nbhusare commented on #1528
@miklossy I'll work on this issue as I had made the original fix.

[2020-09-04 08:46] #1463 closed

[2020-09-18 09:41] cdietrich opened #1538 "AnnotationWithQuickFixesHoverTest fails when run from eclipse"
AnnotationWithQuickFixesHoverTest is flaky

[2020-09-18 09:44] cdietrich opened #1539 "XtextDocumentModifyTest / XtextGrammarQuickfixTest fails on windows"
XtextDocumentModifyTest / XtextGrammarQuickfixTest fails on windows

i assume that the (test) api is line ending dependent somehow

XtextGrammarQuickfixTest actually seems to be flaky
maybe https://github.com/eclipse/xtext-eclipse/issues/1022 fix is not properly working
as also the label is same?

[code]

[2020-09-18 10:28] cdietrich commented on #1539
[org.eclipse.xtext.ui.tests.editor.model.edit.XtextDocumentModifyTest.txt](https://github.com/eclipse/xtext-eclipse/files/5244936/org.eclipse.xtext.ui.tests.editor.model.edit.XtextDocumentModifyTest.txt)
[org.eclipse.xtext.xtext.ui.editor.quickfix.XtextGrammarQuickfixTest.txt](https://github.com/eclipse/xtext-eclipse/files/5244945/org.eclipse.xtext.xtext.ui.editor.quickfix.XtextGrammarQuickfixTest

[2020-09-18 10:28] cdietrich commented on #1538
[org.eclipse.xtext.ui.tests.editor.hover.AnnotationWithQuickFixesHoverTest.txt](https://github.com/eclipse/xtext-eclipse/files/5244948/org.eclipse.xtext.ui.tests.editor.hover.AnnotationWithQuickFixesHoverTest.txt)

[2020-09-18 14:23] cdietrich commented on #1539
XtextDocumentModifyTest is fixed

[2020-09-22 14:15] cdietrich commented on #1539
there is the problem that org.eclipse.xtext.formatting.impl.AbstractDeclarativeFormatter.getConfig()
uses a shared configuration from a singleton store
thus the first guess for "\n" as line separator will be used for everything

[2020-09-22 15:20] #1539 closed

[2020-09-22 15:20] cdietrich commented on #1539
fixed in 2.24

[2020-09-22 15:54] cdietrich commented on #1538
for some reason editor has no focus. i have no idea why
@szarnekow any hint?

[2020-09-22 16:25] cdietrich commented on #1538
adding

[code]

to setup before superCall seems to help.
but why
and shouldnt this be done by PDE?

[2020-09-22 16:42] cdietrich commented on #1538
hmmm ok

[code]

[2020-09-22 16:55] cdietrich commented on #1538
@iloveeclipse any idea why this is needed?

[2020-09-22 17:00] cdietrich commented on #1538
also wonder if we should call
waitForEventProcessing
before and after the setup & teardown block
@szarnekow what do you think?

[2020-09-22 17:00] iloveeclipse commented on #1538
Why the welcome page is configured to be shown? I think one could disable this via preference.

[2020-09-22 17:02] cdietrich commented on #1538
we just use the tycho surefire / pde default

[2020-09-23 07:34] szarnekow commented on #1538
Yes, we should.

[2020-09-23 09:30] #1538 closed

[2020-09-23 09:31] cdietrich commented on #1538
Fixed in 2.24

[2020-09-23 11:12] cdietrich commented on #1527
@nbhusare is this done now?

[2020-09-23 11:18] cdietrich opened #1547 "naming a enum Literal "false" fails in Xtext2Ecore & Ecore2Xtext"
[XtextSyntaxDiagnostic: null:955 mismatched input 'false' expecting RULE_ID, XtextSyntaxDiagnostic: null:955 mismatched input '=' expecting ':', XtextSyntaxDiagnostic: null:955 mismatched input '=' expecting ':', XtextSyntaxDiagnostic: null:955 mismatched input '=' expecting ':', TransformationDiagnostic: null:955 Cannot create type for false because its EPackage is unknown. (ErrorCode: UnknownMet

[2020-09-23 11:25] cdietrich commented on #1547
looks like the false= is not escaped.
any idea @szarnekow
arent conditions a pretty old feature?

[2020-09-23 11:41] cdietrich commented on #1547
hmmm even escaping does not work.
at least with inference

"name is not well formed"

[2020-09-23 11:48] cdietrich commented on #1547
guess it should be

EnumLiteralDeclaration:
	enumLiteral=[ecore::EEnumLiteral|ValidID] ('=' literal=Keyword)?
;

[2020-09-23 11:50] szarnekow commented on #1547
Xtext.xtext: `enumLiteral=[ecore::EEnumLiteral]` should probably be `enumLiteral=[ecore::EEnumLiteral|ValidID]`

[2020-09-23 11:52] cdietrich commented on #1547
this does not seem to work unfortunately

[2020-09-23 11:53] cdietrich commented on #1547
the value is

[code]
so trimming does not seem to work there

[2020-09-23 11:55] szarnekow commented on #1547
Which value is `\n\t\t\t\t^false` ?

[2020-09-23 12:00] cdietrich commented on #1547
the one that goes to the value converter
org.eclipse.xtext.conversion.impl.KeywordAlternativeConverter.toString(String)

[2020-09-23 12:03] cdietrich commented on #1547
see org.eclipse.xtext.xtext.ecoreInference.Xtext2EcoreTransformer.deriveEnums(EnumRule)

[2020-09-24 05:46] cdietrich commented on #1547
for now i just have a dirty fix.the clean solution would be to use value converters everywhere i guess

[2020-09-24 08:16] ymortier commented on #12
Hi,

Do you have plans to address this issue?

I develop an Eclipse RCP app. We updated from Eclipse 2012-12 to Eclipse 2020-09, from XText 2.20 to XText 2.23 and from Java 8 to Java 14. When I start the application from Eclipse I encounter the following issue:

[code]

If I put the dependency from `org.eclipse.xtext.ui.shared` to `org.eclipse.xtext.ui` required then the problem vanishes.

The pro

[2020-09-24 13:27] cdietrich commented on #1528
@nbhusare is there anything left

[2020-09-25 05:30] kthoms commented on #12
When this is happening for you when starting a runtime Eclipse only, then please try to define the launch order of the bundles in your launch configuration (Plug-ins tab) and make sure JDT is loaded at a lower start level. Would this work for you?

There are no concrete plans to address this, as there is no clear reproducible path nor solution path. If you can provide an example that would make it

[2020-09-25 07:50] nbhusare commented on #1528
@cdietrich nothing is left in this PR

[2020-09-25 07:50] nbhusare commented on #1527
@cdietrich Yes, its done.

[2020-09-25 07:51] cdietrich commented on #1528
fixed in 2.24

[2020-09-25 07:51] #1528 closed

[2020-09-25 07:51] cdietrich commented on #1527
Fixed in 2.24

[2020-09-25 07:51] #1527 closed

[2020-09-25 10:01] ymortier commented on #12
Thanks for your answer.

I have set all jdt plugins to start level 3 (default is 4) and I encounter the same issue.

I guess my problem is similar to the one reveal by https://github.com/eclipse/xtext-eclipse/issues/12#issuecomment-407026877

Unfortunately I can't provide an example. I forget to precise the target platform contains many other components (Sirius, Nebula, SWTBot/Spy for example). In

[2020-09-25 10:28] ymortier commented on #12
I have selected a minimal set of plugins in the launch configuration: it works well!

I think the problem occurs because of a test or sample plugin. I let you know the specific configuration which causes the issue if I find it.

[2020-09-28 08:43] cdietrich commented on #1547
we will go with the lightweight solution for now.
will create follow up issue for later

https://github.com/eclipse/xtext/issues/2496

[2020-09-28 09:22] cdietrich opened #1548 "true and false keywords are highlighted as such when used as ValidId"
in

[code]

`true` will be highlighted as keyword, but should not

am not sure how to highlight true|false in the conditions, @szarnekow what do you think?

![Bildschirmfoto 2020-09-28 um 11 21 29](https://user-images.githubusercontent.com/238736/94414653-de2d1100-017c-11eb-8a25-a9240cca7709.png)

[2020-09-28 09:26] szarnekow commented on #1548
When a keyword is parsed as a ValidID, it should be colored as an ID. For `true` in `Viech<true>`, I think keyword highlighting is good enough.

[2020-09-28 09:40] nbhusare commented on #1548
@cdietrich I'll look into this issue.

[2020-09-28 09:50] cdietrich commented on #1547
fixed in 2.24

[2020-09-28 09:50] #1547 closed

[2020-09-30 17:10] nbhusare commented on #1548
@cdietrich @szarnekow I looked at a bunch of classes (`DefaultHighlightingConfiguration, SemanticHighlightingCalculator, DefaultAntlrTokenToAttributeIdMapper`...etc) from the `package org.eclipse.xtext.ui.editor.syntaxcoloring`; however, I was not able to figure out the exact location in the code that highlights the feature 'true' as a keyword for the assignment. Could you please provide me some p

[2020-09-30 17:11] cdietrich commented on #1548
https://blogs.itemis.com/en/xtext-hint-identifiers-conflicting-with-keywords

[2020-09-30 17:58] nbhusare commented on #1548
@cdietrich Tx will take a look.

[2020-10-02 10:56] cdietrich commented on #1490
also fails on windows for me
@nbhusare does it work for you?

[2020-10-02 11:49] cdietrich commented on #1490
have the feeling it depends which window is is foreground (hands of mouse and keybord, so that does not influence)

[2020-10-09 08:48] miklossy opened #1552 "CodeMining is not properly presented when the regions are folded"
Reproduceable on the Xtext Domainmodel example using the following test.dmodel file:
[code]

![screencast](https://user-images.githubusercontent.com/20393472/95562767-e27ae900-0a1c-11eb-8de4-1ebf5cf6194b.gif)

[2020-10-09 08:49] cdietrich commented on #1552
i assume this is a platform problem.
did you test with jdt codeminings?

[2020-10-09 09:02] miklossy commented on #1552
@cdietrich Actually I have not found any suitable JDT CodeMining example. But I can imagine that the problem would occur also there. CC @angelozerr

[2020-10-09 09:19] cdietrich commented on #1552
problem also shows up with

[code]
and type references code minings.
there are some missing

![Uploading Bildschirmfoto 2020-10-09 um 11.19.05.png…]()

[2020-10-09 09:22] cdietrich commented on #1552
![Bildschirmfoto 2020-10-09 um 11 21 38](https://user-images.githubusercontent.com/238736/95566287-a39b6200-0a21-11eb-9a6e-fcf78841879d.png)

[2020-10-09 09:22] angelozerr commented on #1552
Please create an issue in Eclipse bugzilla, I'm sorry but today it's difficult to work on CodeMining.

[2020-10-09 09:24] cdietrich commented on #1552
@miklossy  please create the bugzilla

[2020-10-09 11:10] miklossy commented on #1552
Thanks for the reproducible JDT example @cdietrich !
I created a corresponding [JDT bugzilla ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=567748) as requested.

[2020-10-12 16:29] masofcon opened #1555 "Not localizable hint for rename refactoring"
Rename refactoring hint is hardcoded, see
https://github.com/eclipse/xtext-eclipse/blob/3cc3e8cfbfc2669de731ee742783aff57ded076c/org.eclipse.xtext.ui/src/org/eclipse/xtext/ui/refactoring/ui/RenameRefactoringPopup.java#L237

Which makes it impossible to localize

[2020-10-12 16:36] cdietrich commented on #1555
@masofcon could you please provide a PR fixing the issue.

[2020-10-12 17:04] masofcon commented on #1555
@cdietrich yes, with pleasure

[2020-10-12 19:05] cdietrich commented on #1555
fixed in 2.24

[2020-10-12 19:05] #1555 closed

[2020-10-20 09:16] srinivasiyermv opened #1561 "Scope of member variable (private final URL res) in XtextTemplateStore needs to be changed to protected"
**Problem** :  Extending XtextTemplateStore  for modifications is restricted due to  scope of member variable **res** is tightly coupled  with loadContributedTemplates().

[code]

[2020-10-20 09:34] kthoms commented on #1561
The value of `res` is assigned from `getTemplateFileURL()`. Would overriding this method serve your requirement?

[2020-10-20 09:35] cdietrich commented on #1561
res beeing protected or having a getter would avoid large scale c&p

[2020-10-20 09:45] kthoms commented on #1561
I'd prefer a protected getter then. I do not see that the field should be modifiable after initialization.

@srinivasiyermv Would you be so nice to provide a patch? See our [Contribution guide](https://github.com/eclipse/xtext/blob/master/CONTRIBUTING.md) and feel free to ask.

[2020-10-20 19:44] srinivasiyermv commented on #1561
Sure will create a patch for the same.. Thanks.

[2020-10-21 08:35] cdietrich opened #1562 "Potential deadlock with Parallel Resource loading"
we have a potential deadlock with Parallel Resource loading

waits for workspace lock and blocks other accesses to PackageFragmentRootData
[code]

waits
[code]

this one may invalidate the classpath
[code]

this one owns the workspace lock, but is blocked by the load operation waiting for the workspace lock
[code]

[2020-10-21 10:45] miklossy opened #1563 "StringIndexOutOfBoundsException in AbstractCodeMiningTest"
Reproducible on the Xtext Domainmodel example by adding the following code to the [DomainmodelCodeMiningProvider](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel.ui/src/org/eclipse/xtext/example/domainmodel/ui/codemining/DomainmodelCodeMiningProvider.java) class to display the number of the properti

[2020-10-21 11:00] cdietrich commented on #1563
TODO also test with multiple minings and multiple entities

[2020-10-21 14:05] cdietrich commented on #1562
@iloveeclipse did some more analysis
during the build it is possible to run other jobs on the workspace  cause it does a `getWorkManager().beginUnprotected();`
now `NotifyJob` comes in an "steals" that lock so the builder thread and the loader thread cannot aquire it to do the actual work of working with `Storage2UriMapperJavaImpl` data. so if we are unlucky, one of these will aquire the `synchron

[2020-10-21 14:22] cdietrich commented on #1562
maybe we also need to do some similar magic like

`org.eclipse.xtext.ui.resource.Storage2UriMapperJavaImpl.initializeCache(boolean)`

for all modify operations

and make the read ops not needing a synchonized

[2020-10-21 15:37] cdietrich commented on #1562
if the happens async "somewhen" then i wonder if e.g. org.eclipse.xtext.builder.impl.javasupport.JdtToBeBuiltComputer.updateProject(ToBeBuilt, IProject, IProgressMonitor)
might see outdated classpath and thus miss model files in jars on classpath

[2020-10-21 23:42] drkstr101 commented on #1505
@miklossy I am catching up on OSS commitments the whole rest of this week.  Has this API gone out to the public yet, or is there still time to rework it?

[2020-10-22 04:43] miklossy commented on #1505
@drkstr101 The [AbstractMultiQuickfixTest](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.ui.testing/src/org/eclipse/xtext/ui/testing/AbstractMultiQuickfixTest.java) is part of the public Xtext UI Testing API since Xtext 2.23 (released on 2020-09-01). However, as long as the class is marked as `@Beta`, it can be changed without any risk.

Would be awesome if you could take

[2020-10-22 05:04] drkstr101 commented on #1505
Good deal, I will give it a solid effort! The concept itself should be fairly easy to implement once we can pin down what all needs to be changed.

By tomorrow I should either have either a rough idea of what needs to happen or more likely, some specific questions on point.

[2020-10-22 05:16] miklossy commented on #1505
- Change the separator length calculation logic in the [AnnotatedTextToString](https://github.com/eclipse/xtext-eclipse/blob/0a54dd31c3ea2e361a0c4bc4e8912ce92294cc42/org.eclipse.xtext.ui.testing/src/org/eclipse/xtext/ui/testing/util/AnnotatedTextToString.java#L165) class to use  fixed length delimiter: `-----`
- Search for the usage of this class in the Xtext code base to indentify which test case

[2020-10-22 05:23] drkstr101 commented on #1505
You are the best, thanks for the head start! =D

[2020-10-22 14:07] kthoms commented on #1561
Please add `@since 2.24` to the getter then

[2020-10-22 20:13] drkstr101 commented on #1505
I apologize, but I seem to be having trouble provisioning the workspace, which fails after the "variables" screen with this:

    ERROR: org.eclipse.equinox.p2.transport.ecf code=1002 Unable to read repository at
     https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-jdt-compiler/content.xml.
    javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure

I have tr

[2020-10-23 02:45] miklossy commented on #1505
@cdietrich Any idea?

[2020-10-23 02:58] drkstr101 commented on #1505
I think Eclipse didn't like my PGP key or something along those. I noticed I couldn't authenticate with GitHub when pushing to my own repo. However, after generating a new one from within Eclipse and adding it to GitHub I was. I think this is now in the secure store for all Eclipse, so I will attempt to provision again and see if that made any difference.

[2020-10-23 04:03] cdietrich commented on #1505
Please use older or newer oomph or replace the vm arg in oomphs eclipse ini
https://bugs.eclipse.org/bugs/show_bug.cgi?id=567050

[2020-10-23 05:48] drkstr101 commented on #1505
Thank you!! I also happened to be using a brand new 2FA enabled auth identity and a new machine to boot, so I couldn't pinpoint it down out of the many things that could be wrong with that setup.

I'll take another stab at this first thing in the morning. Cheers, all!

[2020-10-23 07:46] #1563 closed

[2020-10-23 07:47] cdietrich commented on #1563
Fixed in 2.24

[2020-10-23 08:20] hannesN opened #1566 "WorkspaceFileGenerator uses wrong encoding for StringInputStream"
We use a NewFileWizard which is supposed to create a file containing an UTF-8 String.
However, the FileGenerator is creating a StringInputStream with the default charset, on windows "windows-1252" therefore creating invalid input.

I suggest using the charset specified in the IFile to create.
e.g.
[code]

I tested it with my code and it works for me.

[2020-10-23 08:21] cdietrich commented on #1566
can you please provide a PR

[2020-10-23 08:21] cdietrich commented on #1566
cc @ArneDeutsch

[2020-10-23 10:53] hannesN commented on #1566
I created a PR.

[2020-10-24 05:45] cdietrich commented on #1561
Fixed in 2.24

[2020-10-24 05:45] #1561 closed

[2020-10-26 17:20] iloveeclipse commented on #1562
Processing change events on workspace notification thread is a problem, because it holds that workspace lock and
`Storage2UriMapperJavaImpl` will try to lock via `cachedPackageFragmentRootData` field. That is a road for deadlocks.

As discussed, `NotificationManager$NotifyJob` can run in parallel to build because they use two different locks.
The trick is that Workspace.run() first locks the works

[2020-10-27 06:03] cdietrich commented on #1562
SIde note: JDT changed the behaviour of getHandleIdentifier last year to do a resolveClasspath which might have terribly accelerated the problem

[2020-10-30 13:51] cdietrich opened #1577 "ParallelBuilderParticipant may miss generating files"
We use parallel generation in our code. we have the problem that we sometimes miss generated files.

The following snippet basically replicates the behaviour of ParallelBuilderParticipant

[code]

here is a variant that makes the missnehaviour more obvious

[code]

as you can see both variant may eventually fail

[code]

my proposal is to invert the order
[code]
->
[code]

[2020-11-02 06:51] cdietrich commented on #1566
fixed in 2.24

[2020-11-02 06:51] #1566 closed

[2020-11-02 09:19] #1577 closed

[2020-11-02 09:19] cdietrich commented on #1577
fixed in 2.24

[2020-11-10 09:44] cdietrich opened #1583 "Embedded Editor: bogus order of HighlightingPresenter.invalidateTextPresentation() and HighlightingPresenter.resetState() in HighlightingPresenter.uninstall()"
We have performance problems with Closing Embedded editor

- we call document.set programmatically. this will delete all `fPositions` in  `HighlightingPresenter` (am not sure yet why we do that in our project
- `HighlightingPresenter.uninstall()` will call `invalidateTextPresentation()` first and `resetState()` second.
- This will lead for the deleted postions (all in invalidateTextPresentation) w

[2020-11-10 10:02] cdietrich commented on #1583
@szarnekow i wonder if it harms if we cann resetState twice in uninstall

[2020-11-10 10:23] szarnekow commented on #1583
I think that would be fine. `invalidateTextPresentation` should probably also filter deleted positions.

[2020-11-10 10:23] cdietrich commented on #1583
invalidateTextPresentation is platform code

[2020-11-10 10:26] szarnekow commented on #1583
Good question. I'd postpone that one and go for the resetState invocation for now.

[2020-11-17 04:44] kthoms opened #1587 "[oomph] Add license feature to modular target"
I have set my target platform to Oxygen with Oomph (Help Perform Setup Tasks => Target Platform => Eclipse Oxygen).

Now I wanted to set it back to 2020-12, which then fails to resolve the `org.eclipse.license.feature.group`.

This feature and its p2 repo http://download.eclipse.org/cbi/updates/license/ should be added to the modular target.

[code]

[2020-11-17 05:12] kthoms opened #1589 "FixedScopedPreferenceStore: Fire property change event only on value changes"
I just run into a loop while analyzing the change for eclipse/xtext-xtend#1078 (dark theme). There I observed that property change events were issued while the property value did not change.

The IPreferenceChangeListener should only fire a PropertyChangeEvent when the value is changing.

<img width="569" alt="Bildschirmfoto 2020-11-17 um 06 03 51" src="https://user-images.githubusercontent.com/26

[2020-11-17 08:10] #1587 closed

[2020-11-20 11:26] cdietrich commented on #1505
removed milestone

[2020-11-20 11:26] cdietrich commented on #1412
moved out of 2.24

[2020-11-23 16:07] cdietrich commented on #1589
@kthoms should we move to 2.25?

[2020-11-27 11:07] cdietrich commented on #1589
move to 2.25

[2020-11-28 02:45] glandon opened #1599 "XAssignment not inherit from XAbstractFeatureCall, the xbase trick me a little"
I'm a little confused， why my XJAssignment not inherit from XAbstractFeatureCall????

**The follows from xbase and jbase:**

 * @see org.eclipse.xtext.xbase.XbasePackage#getXAssignment()
 * @model
 * @generated
 */
public interface XAssignment extends XAbstractFeatureCall

-----------------------------------------------------------------------------
@Override
XAssignment returns XExpression :
	=>(

[2020-11-28 07:04] cdietrich commented on #1599
XJAssignment != XAssignment.
Don’t see in your grammar where
You make XJAssignment as subclass of XAssignment or XAbstractFeaturr call.

P.s. i would prefermifmyou use the forum or stackoverflow for questions

[2020-11-28 13:23] glandon commented on #1599
Thanks, maybe i also need manual modify the metamodel file, will have a try.
I want make a python like feature for JNumpy, work hard on this.

[2020-11-28 13:26] cdietrich commented on #1599
you can also try to add an uncalled rule

[code]

[2020-11-28 13:55] glandon commented on #1599
Could i implement Numpy NDArray set feature:  **a[i]=n -> a.set(i, n)** with binaryOperation?

@Override
XAssignment returns XExpression :
	=>({XAssignment} feature=[types::JvmIdentifiableElement|FeatureCallID]
		OpSingleAssign) value=XAssignment |
	XOrExpression (
		=>({XJConditionalExpression.if=current} '?') then=XExpression ':' else=XExpression
		|
		=>({XJArrayOperation.leftOperand=current} '

[2020-11-28 14:00] cdietrich commented on #1599
public interface XJArrayOperation extends XExpression, XBinaryOperation
{

works perfectly fine for me

[2020-11-28 14:08] glandon commented on #1599
Now, below code worked well, i will try imp array set featur with binaryOp, that's possible?

`python`
var a = np.arange(12).reshape(3,4)
var b = 1+a[0:-2]
b.dump()

var c = np.ones(3,4)
var d = a+c/2
d.dump

var f = a<4
f.dump()

shape=(1, 4)
array=
array([[1, 2, 3, 4]])

shape=(3, 4)
array=
array([[0.5 , 1.5 , 2.5 , 3.5 ]
       [4.5 , 5.5 , 6.5 , 7.5 ]
       [8.5 , 9.5 , 10.5, 11.5]])

shape=(

[2020-11-28 14:09] cdietrich commented on #1599
sry. i dont have the time to work on this.

[2020-11-28 14:13] glandon commented on #1599
I setup the opensouce Java Numpy, and i want it can be used easily in future.
https://github.com/jdeepro/dl4j

[2020-11-28 14:18] glandon commented on #1599
Thank you, worked.
public interface XJArrayOperation extends XExpression, XBinaryOperation

[2020-11-28 14:18] #1599 closed

[2020-12-07 09:02] cdietrich commented on #1505
@miklossy is this fixed now?

[2020-12-07 09:04] miklossy commented on #1505
There is also adjusments needed in the Xtend repository. I am just about to create a corresponding PR.

[2020-12-07 10:12] hannesN opened #1610 "Modify API of TemplateWizards and WizardPage"
In a project we needed to override some methods or set initial values in the TemplateWizard. Sadly most of the methods in the `TemplateNewFileWizard` and `NewFileWizardPrimaryPage` are private. So I suggest making them at least protected.

`TemplateNewFileWizard`
fields should get a getter, so we are able to instantiate our own main page based on the `NewFileWizardPrimaryPage`

Also: We should inj

[2020-12-07 10:14] cdietrich commented on #1610
@ArneDeutsch what do you think?

[2020-12-07 10:15] cdietrich commented on #1505
fixed in 2.25
thx for the fix @miklossy

[2020-12-07 10:15] #1505 closed

[2020-12-07 10:37] miklossy commented on #1610
I have also encountered this problem while implementing the [DotProjectTemplateProviderTest](https://github.com/eclipse/gef/blob/master/org.eclipse.gef.dot.tests/src/org/eclipse/gef/dot/tests/DotProjectTemplateProviderTest.xtend) and the [DotFileTemplateProviderTest](DotFileTemplateProviderTest) test cases.

Currently, I am using reflections to access the values of these private fields, such as [s

[2020-12-10 08:03] glandon opened #1612 "Highlighting trapped in a infinite loop, client almost dead."
I just edit my script content, cause it not be valid, then trapped in to infinite loop.

[code]
Append any character at the end of statement, will result in this loop.

[code]

[code]

!STACK 0
java.lang.IllegalStateException: Cannot replace scope that was never recorded
	at org.eclipse.xtext.xbase.typesystem.internal.FeatureScopeTracker.replacePreviousExpressionScope(FeatureScopeTracker.java:77)

[2020-12-10 08:21] szarnekow commented on #1612
@simboss this is certainly custom code. I'm afraid without a reproducible, self contained example there is not much that can be done about it. I suspect the problem is burried somewhere in your customizations.

[2020-12-10 08:48] glandon commented on #1612
I add a check, the infinite loop issue resolved, but i still think prune not worked as good enough.
Thank you.

[code]

[2020-12-10 08:49] glandon commented on #1612
This infinite code refered from jbase, I can close this , but maybe an issue.

[2020-12-10 08:49] #1612 closed

[2020-12-10 09:09] miklossy commented on #1612
CC @LorenzoBettini

[2020-12-12 07:09] cdietrich opened #1613 "Fix XtextDocumentModifyTest.testCommentsNotDuplicated"
XtextDocumentModifyTest.testCommentsNotDuplicated fails and i committed a workaround to make the test pass again
we need to decide

- keep the workaround cause we dont find a proper solution
- can we fix the underlying issue
- can we change the test to keep its meaning but have it pass

[2020-12-12 07:09] cdietrich commented on #1613
cc @ArneDeutsch

[2020-12-18 10:02] cdietrich commented on #1613
@ArneDeutsch @szarnekow  as the underlying problem is still there, should we keep this open or close as wontfix

[2020-12-18 10:03] cdietrich commented on #1610
ping @ArneDeutsch @szarnekow

[2020-12-18 10:31] szarnekow commented on #1610
Please move this forward. I'm all in favour of making this feature easier to consume and customize.

[2021-01-05 19:08] ydaveluy opened #1617 "Nested project compiled twice"
In case of projects without java and plugin nature, the dsl files contained in the nested projects are compiled twice.

To reproduce the issue :
 - create a parent project with only xtext nature
 - create file parent:Parent.statemachine --> parent:src-gen/Parent.java is generated
 - create a nested project in parent:nested with only xtext nature
 - create file parent:nested/Nested.statemachine

Fi

[2021-01-08 10:05] ydaveluy opened #1618 "Dynamic project references does not trigger a fuild rebuild"
Hi,

In the case of a Dsl contained in an eclipse project with only xtext/pdePlugin natures and xtext/manifest builder, the content of the manifest is not taken into account when it changes.

I found the following workaround in WorkspaceProjectsState by overriding isAffectingContainerState.

private final Path manifestPath = new Path("META-INF/MANIFEST.MF");

	@Override
	protected boolean isAffect

[2021-01-15 06:57] cdietrich commented on #1504
any update here?

[2021-01-16 15:24] iloveeclipse opened #1621 "PluginImageHelper leaks images"
Regression from #432 : if PluginImageHelper can find a descriptor, it creates images without adding them to the registry & so without re-using them, causing permanent image leak:

[code]

[2021-01-16 15:24] iloveeclipse commented on #1621
@cdietrich : FYI

[2021-01-16 15:42] iloveeclipse opened #1622 "DefaultTemplateProposalProvider.getImage() leaks images"
In our tests started with 4.19 / extra VM flag:
`-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true`
I see few errors reported with following stack:
[code]
There is no attempt of either caching or re-using or disposing images created inside `DefaultTemplateProposalProvider.getImage`.

[2021-01-17 07:20] cdietrich commented on #1622
besides fixing the actual problem we also should run our eclipse and xtend tests with "latest" and `-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=stacks` and then check the log

[2021-01-19 09:28] miklossy commented on #1610
@hannesN How is the progress here?

[2021-01-21 11:57] hannesN commented on #1610
Sorry didn't had the time yet.

[2021-01-22 10:37] PhilippSalvisberg commented on #830
I also get this warning with Eclipse 2020-12 and Xtext 2.24.0 on macOS BigSur:

![image](https://user-images.githubusercontent.com/3883171/105480404-feda2300-5ca5-11eb-9b3a-04db496106db.png)

[2021-01-22 11:45] szarnekow commented on #830
This is usually caused by bigger class path changes (e.g. new target platform) when the editor is reconciled before the build is done. Indeed closing / reopening or a clean build on the project with the grammar "usually" helps to get rid of the warning if the project setup itself is correct.

[2021-01-26 08:16] szarnekow opened #1627 "XtextEditor.init throws unwarranted PartInitException"
Judging from the implementations of other well-behaved editors, init should not check the editor input for `#exists`. The PartInitException will lead to an error editor whereas the default behaviour is more pleasant for the user.

The change to the XtextEditor from https://github.com/eclipse/xtext-eclipse/commit/2663f3e423e2fe7346058315f70a43318a677172 should probably be reverted.

[2021-02-05 12:57] cdietrich commented on #1622
the parameter is actually

`-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true`

[2021-02-05 12:58] cdietrich commented on #1621
the parameter is

`-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true`

[2021-02-05 14:18] cdietrich commented on #1621
i also saw, but cannot consistently reproduce

[code]

[code]

and this one can be consistently reproduced.
wonder why we use the new here cc @miklossy

[code]

[2021-02-05 16:11] ArneDeutsch commented on #1610
I implemented the proposed changes as closely as I can. @hannesN please review if the changes in https://github.com/eclipse/xtext-eclipse/commit/646099973690997c50016a3fa2a5d4e1efaee1cc fullfill your needs.

[2021-02-08 06:50] cdietrich commented on #1622
@iloveeclipse do i need a special application to reproduce this. with the default i cant. (i can track other non disposes, but not this one)

[2021-02-08 12:21] iloveeclipse commented on #1622
@cdietrich : I've answered on our internal tracker. I have no clue about application itself and why it is doing whatever it does to call this API, I'm just "the messenger".

[2021-02-08 12:30] cdietrich commented on #1622
this seems also to be a singleton problem.

[2021-02-12 05:31] cdietrich commented on #1627
@szarnekow will you provide a patch next week or should we move to 2.26?

[2021-02-12 07:35] #1610 closed

[2021-02-12 08:51] cdietrich opened #1634 "Investigate atomic marker creation"
Check if we can use and profit from atomic marker creation in validation and generation
e.g.

https://git.eclipse.org/r/c/jdt/eclipse.jdt.core/+/176167/4/org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/builder/JavaBuilder.java

[2021-02-12 13:07] cdietrich commented on #1622
Fixed in 2.25

[2021-02-12 13:07] #1622 closed

[2021-02-13 23:07] #1627 closed

[2021-02-18 14:06] cdietrich commented on #1589
move to 2.26

[2021-02-18 14:06] cdietrich commented on #1504
move to 2.26.

[2021-02-19 08:36] ArneDeutsch commented on #464
The TraceEditor is quite hacky, just a small add-hock-addon for the ecore editor. The way it is implemented it is a bit tricky to extend it in clean way. The provided patch is in that way hacky, too. ut very local and in some way fits to the implementation ;).

It basically sets the selection of the editor to the selected text (via an ISelectionListener), such that CTRL+C is working. In addition i

[2021-02-19 09:26] #464 closed

[2021-02-19 12:01] ArneDeutsch commented on #1634
I've done s syntetic test about how much time we could save. Obviously we can save time only in case we have many markers. If we have only few markers the creation process will be of no importance. Seeing many errors is not so common, but probably there are projects with many warnings and there it may be of importance indeed.

For my measurements I've created an Xtend file with 10.000 Errors (simp

[2021-02-19 12:05] ArneDeutsch commented on #1634
In case someone likes to run his own experiments ... here is a quick and dirty modification of MarkerCreator.createMarker that is using the new API:

[code]

[2021-02-19 12:21] cdietrich commented on #1634
@ArneDeutsch did you also check DerivedResourceMarkers?

[2021-02-19 12:31] ArneDeutsch commented on #1634
No. actually I started with them, but was not be able to produce any markers here (tried with Xtend, but every error I introduced has lead to compilation issues, not in issues in Java source). But I think the results from above are transferable ... only in cases we have thousand or more markers that get be created the time will be noticable. In that cases we can save 30%-50% of the marker creation

[2021-02-19 12:41] ArneDeutsch commented on #1634
Looking at DerivedResourceMarkers again ... maybe I confused it with something else. Looking at the code I think there will be only 1 or maybe two markers per file. This will sum up very slowly. In a project with 10.000 of files critical time issues will be most probably at other places, not at marker creation time.

[2021-02-19 13:02] ArneDeutsch commented on #1634
To summarize:
The new API is much faster then the old one. We have only few places in our code (DerivedResourceMarkers, MarkerCreator and TaskMarkerCreator) that use this API. The needed changes are straight forward to implement and low risk. But not backwards compatible. We could be able to ship a fragment or an additional plugin that brings implementations of the three classes with new API usage

[2021-02-19 13:03] cdietrich commented on #1634
i assume we simply can use reflection too.

[2021-02-19 13:19] ArneDeutsch commented on #1634
I have run a test with reflective code as well. To my big surprise I could not measure any difference to the not reflective code. We could do that ....

[2021-02-19 13:20] cdietrich commented on #1634
@szarnekow what do you think?

[2021-03-01 21:23] nloke commented on #424
I upgraded oxygen + xtext 2.12 to 2020-06 + xtext2.22 and I noticed this 3 times performance issue also with java8.

Is this issue still valid since it has been more than 3 years?

[2021-03-02 04:31] cdietrich commented on #424
This cannot be judged.
You should always measure your individual problem

[2021-03-29 09:22] cdietrich commented on #1490
also fails on linix sometimes

[2021-03-31 07:00] cdietrich opened #1664 "Deal with Template deprecation at eclipse"
eclipse decided to introduce new supetypes, let the old type inherit from them, and deprecate the old ones

 this is not sovable on Xtext side without

- breaking mimal eclipse version (currently oxygen)
- breaking api by changing super types and method parameters.

[2021-04-14 04:33] cdietrich opened #1667 "Renaming Java elements in one project may lead to refactoring of xbase/xtend type references in unrelated projects"
Given

Project sample
- src/sample/Sample.java
- src/sample/User.xtend (with a field of type sample)
Project sample2
- src/sample/Sample.java (Xtext nature+builder)

if you now rename Sample in the sample2 project to Sample2 then the reference in User.xtend will be updated too.

[rename_bug.zip](https://github.com/eclipse/xtext-eclipse/files/6308168/rename_bug.zip)

as type references are stored v

[2021-04-21 15:30] rytina commented on #320
@cdietrich do you have an "rough" idea where the poor performance is coming from? I assume it is somehow related to the recording of changes within org.eclipse.xtext.ide.serializer.impl.ChangeSerializer.beginRecordChanges(Resource). What is again the reason for recoding the entire AST with node models?

[2021-04-21 15:34] cdietrich commented on #320
No it's about the scope all elements call

[2021-04-23 07:33] cdietrich opened #1669 "Rename Refactoring: cannot handle resource in linked folders"
Eclipse allows you to link resource from one project into another one

![Bildschirmfoto 2021-04-23 um 09 29 41](https://user-images.githubusercontent.com/238736/115835633-c5d15c00-a416-11eb-8712-e29991090007.png)

[code]

but Xtext rename refactoring is not aware of this.
thus there references are updated only in the context of the project the refactoring is executed in
and thus it leaves other pr

[2021-05-25 10:52] rytina opened #1676 "In case of IBuildFlag.RECOVERY_BUILD the default BuildScheduler only discards the build state but does not rebuild"
The reason for this is the following if condition which checks if the scheduler is equal to the default implementation (BuildScheduler.class.equals(getClass())) besides checking the build flags length and after discarding the build state it returns immediately without retriggering a build:

if (BuildScheduler.class.equals(getClass()) && buildFlags != null && buildFlags.length == 1) {
  if (builder

[2021-05-25 10:54] cdietrich commented on #1676
i assume it is this way forever and the code is there for backwards compatibility

[2021-05-25 11:14] rytina commented on #1676
No I don't know sorry. With the workaround I described above we can live for now, but it would be great if this gets fixed in Xtext. Thank you very  much!

[2021-05-25 11:15] cdietrich commented on #1676
i assume it is done the way it is done for a good reason.
lets wait what @szarnekow remembers

[2021-05-25 11:22] rytina commented on #1676
No problem, its not urgent :-)

[2021-05-25 11:23] szarnekow commented on #1676
I think what you are seeing is the same thing that is being fixed via https://github.com/eclipse/xtext-eclipse/pull/1671

[2021-05-25 11:24] cdietrich commented on #1676
@rytina could you downport and test that one?

[2021-05-25 11:25] rytina commented on #1676
Oh yes, that sounds exactly like #1671
So I would then close this as duplicate, ok?

[2021-05-25 11:26] rytina commented on #1676
Yes I try, thank you :-)

[2021-05-26 08:55] #1676 closed

[2021-05-26 08:55] rytina commented on #1676
Duplicates #1671

[2021-06-11 13:56] LorenzoBettini opened #1686 "Simplify Domainmodel example target platform"
The `.target` file of the Domainmodel example is exceedingly and uselessly complex: it uses `slicer` instead of `planner`, forcing to list all requirements, without any benefit. I guess that happened when @kthoms introduced several target platforms using the TPD DSL (something that was then removed). The TP should use planner and list many less features. I'll provide a PR

[2021-06-11 16:49] LorenzoBettini opened #1688 "Plugin test projects should not use "target/classes" in .classpath"
Currently, the Xtext wizard generates plugin test projects (e.g., `.tests` and `.ui.tests`) with source folders set as test source folders (correct!) but in the `.classpath` the output folder is set as `target/test-classes`. I think this wrong, especially when such projects are build with Maven/Tycho (which is usually the case for plugin test projects): Tycho ignores such setting and always genera

[2021-06-18 20:26] homebeaver commented on #1621
Hi,
here another trace:
[code]
Session data:
eclipse.buildId=4.20.0.I20210611-1600
java.version=11
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Framework arguments:  -product org.eclipse.epp.package.java.product -product org.eclipse.epp.package.java.product
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -product org.eclipse.epp.package.j

[2021-06-19 05:23] cdietrich commented on #1621
@homebeaver buildship problems should be reported here https://github.com/eclipse/buildship/issues

[2021-06-21 07:22] cdietrich commented on #1621
@miklossy  can you answer the question about the `new PluginImageHelper`

[2021-06-21 07:41] cdietrich commented on #1621
created https://github.com/eclipse/xtext-eclipse/pull/1690 for that

[2021-06-21 08:35] cdietrich commented on #1688
am not sure if this is coming from tycho, from tycho m2e or whatever.
the test-classes might be there for a reason.
we also may have to distingish between maven and maven tycho.

[2021-06-21 09:28] LorenzoBettini commented on #1688
If I understand correctly from the generator, `test-classes` is perfectly fine for pure Maven projects (well, it's actually required, since you have main and test code in the same projects in a typical Maven project), but it's not ideal for Tycho projects (since tests are in a separate plug-in project), and there's no check in the generator under that respect.

[2021-06-21 09:29] cdietrich commented on #1688
then we should fix that

[2021-06-23 09:13] cdietrich commented on #1621
Fixed in 2.26

[2021-06-23 09:13] #1621 closed

[2021-07-02 05:45] cdietrich opened #1697 "Bogus behaviour of DirtyStateEditorSupport.UpdateEditorStateJob.unloadAffectedResourcesAndReparseDocument vs OnChangeEvictingCache.CacheAdapter.isSemanticStateChange"
Given this grammar

[code]

and this Validator

[code]

having these model files

[code]

[code]

doing a clean build will print for the validations in ValidationJob for the editor of the second file

[code]

instead of the expected
[code]

this is happeing cause the a.mydsl will be unloaded but the cache for b.mydsl never will be cleared

[2021-07-02 05:48] cdietrich commented on #1697
likely caused by this change: https://github.com/eclipse/xtext-core/commit/8990d9c55de3c3a904ac3a0187ad6397fb688ae8#diff-a81b907ab8324e809119b2057dc7203e2400240dd3a2b8745699a62e3666ffe7

[2021-07-02 05:58] cdietrich commented on #1697
interestingly the change evict seems to happen "after" the check ran with the implicit validation that resolves proxy.
maybe there also was an order change how validations are executed

[code]

[2021-07-02 06:12] cdietrich commented on #1697
@szarnekow  any idea why we dont relink/unload the main resource in the editor but only affected others in the resourceset?

[2021-07-02 07:53] szarnekow commented on #1697
Hmm the primary resource should be processed via `org.eclipse.xtext.ui.editor.reconciler.XtextDocumentReconcileStrategy.doReconcile(IRegion)` - maybe forceReconcile does not enough, e.g. a dummy change is scheduled. Maybe the dummy change is not enough to clear the wrong cache entries?

[2021-07-02 07:54] cdietrich commented on #1697
yes it looks like. when i revert the change like
[code]
it does work again

[2021-07-02 08:09] cdietrich commented on #1697
doing a replace dummy change does not always seems to help. there still seems to be a dependence on validator order

[code]

[2021-07-02 09:15] cdietrich commented on #1697
i wonder weather org.eclipse.xtext.resource.XtextResource.updateInternalState(IParseResult) should also clear caches besides errors and co

[2021-07-02 09:48] cdietrich commented on #1697
e.g. as a patch

[code]

question would be: where in the chain is the correct place

[2021-07-02 09:56] cdietrich opened #1698 "Tests on latest hang"
Tests on latest hang

have no idea why

https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/1523/console

[2021-07-02 10:02] cdietrich commented on #1698
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=574615

[2021-07-02 10:13] cdietrich commented on #1698
cannot reproduce on mac.

[2021-07-02 10:20] szarnekow commented on #1697
Since the cache clearing used to happen automagically along with clearErrorAndWarnings, it should probably be put there. It should be possible to override the clear routing for the cache though, e.g with a new protected method `clearCache()` on the resource.

[2021-07-02 10:37] cdietrich commented on #1698
[hang.jstack.txt](https://github.com/eclipse/xtext-eclipse/files/6754041/hang.jstack.txt)

[2021-07-02 10:42] iloveeclipse commented on #1698
[code]
This looks like SWT/GTK3 issue. Which GTK 3 is installed, and what is the difference to all other tests in the config?

[2021-07-02 10:48] cdietrich commented on #1698
here is another one

[new.jstack.log](https://github.com/eclipse/xtext-eclipse/files/6754090/new.jstack.log)

[2021-07-02 10:49] cdietrich commented on #1698
this is what i see in my vm

[code]

is there another command to tetermine gtk version?

[2021-07-02 10:52] iloveeclipse commented on #1698
https://bugs.eclipse.org/bugs/show_bug.cgi?id=574119 ?

[2021-07-09 08:21] cdietrich commented on #1698
fixed with revert on platform

[2021-07-09 08:21] #1698 closed

[2021-07-12 15:06] cdietrich commented on #1697
@szarnekow do you know why the clear(resource) in the OnChangeEvicitingCache does the getOrCreate?

[code]
would not create a cache if not needed,

[code]
would be compatible, but might create unnecessary adapters

[2021-07-13 16:05] cdietrich opened #1699 "Resource leak in XbaseInformationControl.createTextLayout"
when running with `-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true` on latest
and doing some xbase/xtend hovers

[code]

[2021-07-13 16:16] cdietrich commented on #1699
of course i cannot consistently reproduce this. no idea when platform reports this, when stuff is disposed and when not.

[2021-07-13 16:28] cdietrich commented on #1699
@iloveeclipse is there a trick to get consistently reports of stacktraces? do i need a special shutdown?

[2021-07-13 16:36] iloveeclipse commented on #1699
no. you need system.gc() few times

[2021-07-13 16:44] cdietrich commented on #1699
ok. that worked for me, thx

[2021-07-14 04:14] #1699 closed

[2021-07-14 04:14] cdietrich commented on #1699
Fixed in 2.26

[2021-07-19 12:14] cdietrich opened #1701 "ClusteringBuilderState.queueAffectedResources does not gives details in progress view"
ClusteringBuilderState.queueAffectedResources does not gives details in progress view

<img width="568" alt="Bildschirmfoto 2021-06-01 um 14 20 44" src="https://user-images.githubusercontent.com/238736/126158145-5987518c-5e29-47b3-8650-688aa72080ee.png">

[2021-07-19 12:19] cdietrich commented on #1701
after change

![Bildschirmfoto 2021-07-19 um 14 19 36](https://user-images.githubusercontent.com/238736/126158772-ee60b447-1245-4614-bd0a-9b068aeffc5c.png)

[2021-07-20 08:30] cdietrich opened #1703 "PluginImageHelper still has resource leaks"
PluginImageHelper still has resource leaks

[code]

problem is that the stopping we listen might be called when the display is already disposed.
thus the dispose on the images we call might be a noop.

[2021-07-23 11:06] cdietrich commented on #1701
done with a first version. feels free to PR a different message if you dont like it.

[2021-07-23 14:44] #1701 closed

[2021-07-26 15:58] #1703 closed

[2021-08-03 05:01] Bananeweizen opened #1710 "Building twice because of new "touch on recovery""
#1671 has led to the situation that projects are built twice in certain situations:
* run eclipse with an empty workspace
* import an Xtext project
* watch the Xtext console, it is reported as being built twice
(This is on Xtext 2.25 with the BuildStateDiscarder changes being ported back. But I'm quite sure the behaviour is identical on current Xtext).

The technical background is as follows:
* Mu

[2021-08-03 05:03] cdietrich commented on #1710
cc @szarnekow @tivervac

[2021-08-03 08:44] cdietrich commented on #1710
maybe also andreys changes mentioned in https://bugs.eclipse.org/bugs/show_bug.cgi?id=549704 are related

[2021-08-06 04:40] cdietrich commented on #1710
with Xtext 2.26 snapshot and eclipse 2021-09 i see

[code]

@Bananeweizen @rytina
i am not sure if the reproduction steps are sufficient or if andreys fix actually fixed the problem

[2021-08-06 08:42] Bananeweizen opened #1714 "Use atomic marker API"
Seen once during automated tests (and probably very hard to reproduce, since this depends on removing a project in parallel to running validation asynchronously on it):
[code]
This can only be fixed easily when Xtext requires Eclipse platform 4.19, since there is new API for creating markers atomically in that version: https://www.eclipse.org/eclipse/news/4.19/platform_isv.php#marker-create-api

I

[2021-08-06 11:02] szarnekow commented on #1714
Might be worthwhile to use reflection.

[2021-08-09 06:08] cdietrich commented on #1714
@Bananeweizen  see https://github.com/eclipse/xtext/issues/2500

[2021-08-09 06:10] rytina commented on #1710
@cdietrich Please make sure to import the Xtext project from an archive file into an clean workspace how it is demonstrated with https://drive.google.com/file/d/1N6ax6sTQ7EuvSA5rL537lPddasYXIgUf/view?usp=drivesdk
I can reproduce this bug with standard Eclipse 2012-06 where I installed org.eclipse.xtext.sdk.p2-repository-2.26.0-SNAPSHOT.zip using the default domain model example.

[2021-08-09 06:16] cdietrich commented on #1710
interestingly i can see it with the domain model example but i could not see it with a statemachine example

[code]

will check next if the problem is zip import

[2021-08-09 06:21] cdietrich commented on #1710
zip or not does not play a role
dm builds twice, statemachine not.

[2021-08-09 06:28] cdietrich commented on #1710
with yet another mydsl i get

[code]

=> is build cancelled?!?

[2021-08-09 08:12] Bananeweizen commented on #1714
Okay, closing as duplicate then, even though my main concern was the atomicity, not the performance. :) As said before, I don't expect normal users to run into this asynchronous issue at all (and I can fix this specifically for tests by avoiding the async execution there).

[2021-08-09 08:12] #1714 closed

[2021-08-09 08:22] Bananeweizen commented on #1710
@cdietrich I'm not sure but I suspect that very small (and fast built) models might not trigger the bug simply because it requires some "timely overlap" from the auto build job and the xtext refresh job. As far as I remember, the auto build job itself uses a randomized schedule delay of around 1 second, therefore you probably need models of at least 1 or 2 seconds build time to trigger it.
I haven

[2021-08-09 09:01] #1697 closed

[2021-08-09 09:02] cdietrich commented on #1697
Fixed in 2.26

[2021-08-11 11:07] cdietrich opened #1719 "Bogus Behaviour of replacement Proposals"
if you invoke content assist in the middle of a whitepace
e.g.

[code]

and you select the proposal in replacement mode (crtl)
then the resulting model will look like

[code]

whilst e.g. jdt would do a

[code]

in a similar situation.

i am not sure if this is to be considered a bug or a feature
here is a potential workaround

[code]

[2021-08-12 12:40] iloveeclipse commented on #1719
That was a joke, right? :-)

[2021-08-12 12:45] cdietrich commented on #1719
@iloveeclipse we also have languages where whitespace has "semantics"

[2021-08-12 12:57] iloveeclipse commented on #1719
Sure, but new line shouldn't be affected, only "tabs & spaces" right? Means, the "whitespace" that has a new line shouldn't be considered as a "single" semantic whitespace piece, but as many pieces :-)

[2021-08-19 04:34] cdietrich commented on #1719
@szarnekow any opinion?

[2021-08-19 05:42] cdietrich commented on #1634
see see the race from https://github.com/eclipse/xtext-eclipse/issues/1714#issue-962531806 too

[2021-08-19 05:47] cdietrich commented on #1714
our integ test actually see the atomicity problem too

[2021-08-19 12:22] cdietrich commented on #1719
hmm workarounds still has some side effects with prefixes

[2021-08-19 12:28] cdietrich commented on #1719
so maybe we need

[code]

[2021-08-19 12:53] cdietrich commented on #1719
of course (tm) there are no test fails after change.
will try to figure out if we have any replace tests at all
https://ci.eclipse.org/xtext/job/xtext-eclipse/job/cd_issue1719/1/

[2021-08-19 18:12] cdietrich opened #1725 "Fix ContentAssist*Tests with Java 16/17"
Fix ContentAssist*Tests with Java 16/17

[2021-08-20 08:26] cdietrich commented on #1725
unfortunately i dont see the problems i see locally on mac on jenkins.
will try with linux locally

[2021-08-20 09:48] cdietrich commented on #1725
on my mac the project gets configured with java 8 jdk beeing native java 8 jdk
on linux the java 8 is backed by a java 17

[2021-08-20 10:00] cdietrich commented on #1725
![Bildschirmfoto 2021-08-20 um 11 59 24](https://user-images.githubusercontent.com/238736/130216670-9ffcc774-535d-4f11-82c7-2fb27bf6dcc4.png)

with Java 15 also a Java 15 is picked here. so i assume there is still something missing in tycho or in pde

[2021-08-20 13:31] cdietrich commented on #1725
learned about https://download.eclipse.org/eclipse/updates/4.21-Y-builds/
looks better with that

[2021-08-22 16:00] szarnekow commented on #1710
@cdietrich Can you by chance take another look?

[2021-08-25 08:18] cdietrich commented on #1490
Fixed in 2.26

[2021-08-25 08:18] #1490 closed

[2021-08-28 19:05] cdietrich opened #1731 "Build in Eclipse Broken/Flaky/Bogus"
if i edit xtend files, sometimes no generates are changed.
have no clue what is happening yet.

e.g. editing parentprojectdescriptor.xtend in xtext.xtext.wizard
in build console i can see random builds on random projects happening with huge delay.
also on actions like klicking, refreshes etc.

maybe there is a new limited build rounds inplace that stops the autobuild all the time

[2021-08-29 08:21] cdietrich commented on #1731
nth refresh
[code]

n+1 th refresh
[code]

[2021-08-29 08:23] cdietrich commented on #1731
@szarnekow @iloveeclipse are you aware of a change in platform that limits builds to rounds of 10?

[2021-08-29 08:26] cdietrich commented on #1731
shouldnt this 10 be valid for project, and not the whole workspace ?!?

<img width="604" alt="Bildschirmfoto 2021-08-29 um 10 25 11" src="https://user-images.githubusercontent.com/238736/131243880-12e9700c-9c7f-4793-a581-1aeae6059902.png">

[2021-08-29 08:36] cdietrich commented on #1731
setting the number to 1000 seems to help.
maybe https://bugs.eclipse.org/bugs/show_bug.cgi?id=568299 or related bugzillas

[2021-08-29 11:11] iloveeclipse commented on #1731
you can set -Dorg.eclipse.core.resources.disallowEarlyInnerBuildLoopExit  and check if that makes any difference.

[2021-08-29 11:47] cdietrich commented on #1731
yes the system property helps too.

[2021-08-29 11:52] iloveeclipse commented on #1731
It means, the rebuild is requested multiple times (all the time?) during xtext / xtend build itself. Why that?
Should we increase the default of 10 in platform? Also I wonder if the xtend/xtext build has cycles, as preference name suggests, or is preference isn't used only for cycles?

[2021-08-29 11:58] cdietrich commented on #1731
on a first glace i see it called when we actually generate/delete files. but that should happen onces per project only.
but that needs further investigation

[2021-08-29 14:27] cdietrich commented on #1731
hmmm now that i removed the property, it still works...
inconsistency without end

[2021-09-17 12:42] cdietrich commented on #1725
all tests are fine with new 4.22-Ibuilds

[2021-09-17 12:42] #1725 closed

[2021-09-22 09:01] #1710 closed

[2021-10-04 05:35] cdietrich commented on #1326
close wont fix

[2021-10-04 05:35] #1326 closed

[2021-10-18 11:11] v703612 opened #1750 "Quick Assist Change icon"
Hi,

We are trying to change the icon in the quick assist for our model language. What is the best way of doing this? We want different icon for quick assist for model and name. Is this in the Proposalprovider or is there easier way of doing this?
![image](https://user-images.githubusercontent.com/26733848/137719980-2dbd8728-31e1-490c-980f-62dcb87401a6.png)

Model:
	'model' '{' 'name' name=MODEL_I

[2021-11-11 08:11] cdietrich commented on #1750
ping @v703612

[2021-11-12 14:14] telyatnikov commented on #816
This leads to UI Freezes. Processing all of the listeners in the UI Thread seems like a little bit overkill to me.
In my project there are no listeners that chenge XtextDocument. To avoid UI Freezes caused by this fix i had to subclass XtextDocument and copy most of it because it is not extensible.

[2021-11-13 12:03] cdietrich commented on #816
@telyatnikov if you see a better subclassable structure, can you make a proposal that would make customizing more easy?
cc @szarnekow

[2021-11-15 07:27] v703612 commented on #1750
thank you for the help

[2021-11-15 07:27] #1750 closed

[2021-11-15 15:04] rasifix opened #1760 "IgnoreBuildDirContribution looses buildDirs after Restart"
We have observed by chance that XtextBuilder is building the DSL files in the Gradle "build" folder. When debugging I have come across the IgnoreBuildDirContribution. The "buildDirs" are properly initialized with a "Refresh Gradle Project". However, after a restart, the buildDirs are empty. Shouldn't those buildDirs be persisted somehow?

@cdietrich asked me to create an issue after my post on the

[2021-11-15 15:09] cdietrich commented on #1760
https://github.com/eclipse/xtext-eclipse/blob/ce395d6e9a6804dbae088aaf6a6a9d0cafd60dfb/org.eclipse.xtext.buildship/src/org/eclipse/xtext/buildship/IgnoreBuildDirContribution.java#L61

[2021-11-15 18:08] szarnekow commented on #1760
Good point. The maps could probably be replaced by a persistent property on the IFolder (see IFolder.setPersistentProperty)

[2021-11-17 08:12] stas-bob opened #1761 "Xtext builder stops eclipse build"
Hello,

i have a strange behaviour of the xtext builder (Eclipse 2021-09) which i fixed but i actually dont really understand what i did. I need clarification.
When importing maven projects into workspace (xtext and not xtext natures), Xtext builder calls needRebuild() in the method pollQueuedBuildData() because JdtQueuedBuildData returns true for needsRebuild(IProject, Deltas).

First question:
J

[2021-11-17 08:20] cdietrich commented on #1761
see also https://github.com/eclipse/xtext/issues/2404

[2021-11-18 10:18] cdietrich commented on #1760
@rasifix do you have a hint on how to best test/reproduce this?

[2021-11-18 10:25] cdietrich commented on #1760
@szarnekow  i assume we have the map so that we can easily remove all stuff from a project.
so would you store the dirs per project as a persistent property on the project?

[2021-11-18 10:31] szarnekow commented on #1760
@cdietrich exactly. Also the project may have been closed or deleted in which case the folder structure could not be navigated anymore. Yes, I'd attempt to store the dirs encoded as strings as a persistent property on the project.
On first access of the map, I'd read from the persistent property is nothing is in the map yet. On sync from gradle, the persistent prop would be added.

[2021-11-18 10:39] cdietrich commented on #1760
we right now know only one dir per property.
i will do a first draft to discuss

[2021-11-18 11:17] cdietrich commented on #1760
@rasifix would it be possible you give the patch a try?

[2021-11-18 11:28] cdietrich commented on #1761
@stas-bob could you provide a set of sample maven projects you import that reproduce the problem.
@stas-bob do you see the problem also with 2.26.0.M2 (i assume yes)
@szarnekow  any idea?

[2021-11-18 11:30] cdietrich commented on #1761
@szarnekow  could this also explain the RebuildAffected problems we see?
although there the behaviour is flaky

[2021-11-18 11:45] cdietrich commented on #1761
could not reprodcue the

thing yet

[2021-11-18 13:12] rasifix commented on #1760
I would have to go through setting up Eclipse as described in https://github.com/eclipse/xtext/blob/master/CONTRIBUTING.md, right?

[2021-11-18 16:24] cdietrich commented on #1760
@rasifix simply import the buildship plugin as source from the plug-ins view any copy the patch over should be sufficient to test.
then start a runtime eclipse and test your usecase there.

[2021-11-19 11:23] stas-bob commented on #1761
i will try reproduce it with an example project. give me some time pls, i will reply in at least 7 days

[2021-11-24 08:42] stas-bob commented on #1761
[xtext-issue.zip](https://github.com/eclipse/xtext-eclipse/files/7593868/xtext-issue.zip)
I attached a zip with 3 projects.
de.skeleton and de.skeleton.ui are the xtext projects which i created for this issue. it is a dsl which only contains one keyword.
The project skeleton is the runtime maven project.
How to reproduce:
1. Set max build iterations to 1-5 in workspace preferences General/Workspac

[2021-11-24 08:56] cdietrich commented on #1761
@stas-bob just for curiosity: if you hit refresh on project, will then a next build round of n iterations be done?

[2021-11-24 08:56] stas-bob commented on #1761
No

[2021-11-24 08:57] cdietrich commented on #1761
@stas-bob no i mean: i have seen that when you do a refresh, platform will do another round of 10 projects.

[2021-11-24 09:02] stas-bob commented on #1761
It does not trigger autobuild. It will trigger autobuild if i start opening files. Then out of a suddon auto build starts rebuilding. But not everything. For example i open skeleton-driving/src/main/java/Driving.java and the .txt file is generated. But other DSLs of other projects are still not there. Dont know what is going on there.

[2021-11-24 09:04] cdietrich commented on #1761
will check next week. i also hope @szarnekow will find some time to look at.

[2021-11-24 09:42] cdietrich commented on #1761
might also be related to the order of the builders.
normally we do

[code]
but in your code it seems inverse

[2021-11-24 10:10] stas-bob commented on #1761
Yes because i need to load classes from java files in the same project via reflection during the xtext build.
Nevertheless, i will try to change the order and see if it makes a diffrence.

[2021-11-24 11:57] stas-bob commented on #1761
No, it has no effect apparently. I just imported it once, it worked (88 files listed because txt files also in target folder etc.), deleted all projects again, imported again, now only 13 txt files listed.
![xtext-issue2](https://user-images.githubusercontent.com/293153/143234184-16c35fc9-3181-42d5-b899-3287a35675ef.png)

[2021-11-24 11:59] cdietrich commented on #1761
does it happen on import only or on clean build too?!?

[2021-11-24 12:01] stas-bob commented on #1761
project -> clean... clean all projects executed. Now it shows 8 txt files listed
(I have added a cleaner on eclipse clean phase which cleared generated folders where the .txt files are located. that means after i have executed clean on workspace, even less generators has been executed.

[2021-11-24 12:41] stas-bob commented on #1761
Setting General/Workspace/Build max build iterations to 50 fixes it in this case. 88 files listed. Setting it to 10 builds 31 txt files.
Why does that setting even affect the build and why is xtext requesting rebuilds :D ?

[2021-11-24 12:48] iloveeclipse commented on #1761
Hmm.. Why would `General/Workspace/Build -> max build iterations`affect the build?
Couldn't "build" setting be related to "build"? :-)

The setting is used to prevent endless build loops.
Project A generates files in project B. Project B builds after that and generates project files in project A. Project A builds again and ...

**This** is the right question.

Workspace tries to build projects, ev

[2021-11-24 13:21] cdietrich commented on #1761
@iloveeclipse the counting to n is done per project or globally? i understand per project.
thus i wonder why we see jdt changes over and over and over again.

[2021-11-24 13:25] iloveeclipse commented on #1761
I have to look into the code, I believe for auto-build it will be per workspace.

[2021-11-24 13:32] cdietrich commented on #1761
hmmm i do not even get a needs rebuild with that set of examples if i do a clean build @stas-bob

[2021-11-24 13:34] cdietrich commented on #1761
ok now i see it.
i see needsRebuild twice per project.

[2021-11-24 14:13] stas-bob commented on #1761
can you reproduce what i experience ? the DSL with ending .skeleton is supposed to generate a .txt file in the project's generated folder. A lot of skeleton DSLs are not generating a txt file beause the Builder is not called during import.

[2021-11-24 14:14] cdietrich commented on #1761
yes but i had to do a maven configure after import.

[2021-11-24 14:18] stas-bob commented on #1761
Ok. I used the maven import wizard. No configuration was required, it also sets the generated folder as source into the .classpath because its defined in the parent pom. so the maven import itself seems fine

[2021-11-30 08:54] cdietrich commented on #1761
i did some experiments and turned off all needsRebuild calls.
i used a simple dsl that generates java code.
i use this builder order

[code]

now when we create java files jdt wont be building the corresponding class files for that.
so it looks like for transpilers the call of needsRebuild is crucial.
thus a global limit of 10 independent of number of projects does not really make sense to me

cc

[2021-11-30 09:12] stas-bob commented on #1761
Why? If xtext builder creates .java files then thats a workspace change which would trigger a new autobuild?

[2021-11-30 09:14] cdietrich commented on #1761
nope it looks like these files are ignored by jdt then. dont know why

[2021-11-30 09:15] szarnekow commented on #1761
Workspace changes that are made by the builder during a build are not visible to a subsequent build without an invocation of `needsRebuild`
[code]

[2021-11-30 09:18] cdietrich commented on #1761
will create a bugzilla to discuss.

[2021-11-30 09:18] iloveeclipse commented on #1761
There is no new API needed, `org.eclipse.core.resources.IncrementalProjectBuilder.needRebuild()` is exactly for that.

What needed is that the code below should scale depending on the number of projects to be built:
`org.eclipse.core.internal.events.BuildManager.basicBuildLoop()

Right now it has a fixed limit for workspace, but probably it should scale that related to projects to be built?

Pleas

[2021-11-30 09:23] iloveeclipse commented on #1761
This is interesting and probably worth a bug for JDT.

1. A project with Java and XYZ builder
2. XYZ builder generates a Java file in the project source path
3. If Java builder doesn't see this change, we most likely simply don't listen **during** the build on any resource events (which makes kind of sense).
4. But I wonder if resource modification events for **source** files should be noticed?
5.

[2021-11-30 09:25] cdietrich commented on #1761
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=577530

[2021-11-30 09:26] stas-bob commented on #1761
So, you say my projects build cycle number is not high enough and thats why i end up with missing generated files after import?

[2021-11-30 09:27] szarnekow commented on #1761
APT have a very controlled environment and its own notion of "rounds". These run internal to the JDT builder and are observed / implemented based on the APT SPI. I don't think this can be generalized towards multiple isolated builders on a project.

(3) The Java builder will see it if needsRebuild was called.

[2021-11-30 09:27] cdietrich commented on #1761
for annotation processors i assume the notification via CompilationParticipant/BuildContext recordAddedGeneratedFiles will do the follow up build within the main build of jdt

[2021-11-30 09:28] cdietrich commented on #1761
no but if you set the max iterations to lets say 50 it should always work for you

[2021-11-30 09:29] cdietrich commented on #1761
regarding parallel build: we dont support that anyway.

[2021-11-30 09:35] cdietrich commented on #1761
i will do another experiment and write a 3rd builder and will check the deltas it sees

[2021-11-30 09:46] cdietrich commented on #1761
nope, the 3rd builder running before the Xtext builder will also not see the changes by the xtext builder. so that issue is not jdt specific

[2021-11-30 09:51] cdietrich commented on #1761
[code]
[code]
[code]

[2021-11-30 12:22] stas-bob commented on #1761
True, i tested with 100 and it works now on my original project without overriding XtextBuilder behavior in pollQueuedBuildData(IProject)

ok once again for the eclipse noobs like me:
the purpose JdtQueuedBuildData is to track new java files and request eclipse to rebuild workspace so that java builder will be active again for these new java files and everytime java builder builds a java file, it

[2021-11-30 12:41] cdietrich commented on #1761
as far as i have understood JdtQueuedBuildData/pollQueuedBuildData is needed for Xtend active annotations but i did not further reverse engineer that yet.

[2021-11-30 12:46] stas-bob commented on #1761
Nevertheless, thank you for the support so far. I didnt expect that level of iteraction.

[2021-11-30 13:22] cdietrich commented on #1760
@rasifix you also can find a repo containing the fix at
https://ci.eclipse.org/xtext/job/xtext-umbrella/job/cd_issue1760/lastSuccessfulBuild/artifact/build/p2-repository/

[2021-11-30 22:00] rasifix commented on #1760
sorry it took me so long. I have finally tested it and it works perfectly fine. Thanks for the fix!

[2021-12-01 10:46] cdietrich commented on #1760
@rasifix thanks for testing

[2021-12-01 12:13] cdietrich commented on #1761
@stas-bob could you also check if this patch
https://git.eclipse.org/r/c/platform/eclipse.platform.resources/+/188397
also solves the problem in your environment?

[2021-12-01 12:50] stas-bob commented on #1761
I dont know how to install that patch. Can you guide me a little? do i need a p2 update site or so?

if important:
right now, i use xtext 2.25.0 in eclipse 2021-09 and in my projects I use org.eclipse.core.resources;bundle-version="3.13.500"

[2021-12-01 12:55] cdietrich commented on #1761
you could go to the plug-ins view.
search core.resources there,
rightklick import as from project repository.
then change the buildmanager class manually.

or you wait 1 or 2 days until patch shows up here
https://download.eclipse.org/eclipse/updates/4.23-I-builds

[2021-12-01 13:49] stas-bob commented on #1761
yes, it works now.
I tested it with custom code in breakpoint :D it's so cool that in eclipse debug mode i can change state of objects and local variables during runtime.

[2021-12-02 16:01] LGoossens opened #1764 "The info quickfix icon is slightly different from the warning and error quickfix icons"
This concerns the `quickfix_error_obj.gif`, `quickfix_warning_obj.gif` and `quickfix_info_obj.png` files under `org.eclipse.xtext.ui/icons/obj16/`.

The three icons:
![quickfix_icons](https://user-images.githubusercontent.com/54268882/144456861-3e186118-67b5-468a-abb9-b3cd416a8a21.gif)

[2021-12-02 16:26] iloveeclipse commented on #1761
@stas-bob : please try with this SDK build that contains the patch: https://download.eclipse.org/eclipse/downloads/drops4/I20211202-0440/

[2021-12-06 06:04] cdietrich commented on #1764
@szarnekow do we considered checked in image files as api or can they safely be deleted?

[2021-12-06 06:36] cdietrich commented on #1764
@LGoossens can you please give https://ci.eclipse.org/xtext/job/xtext-umbrella/job/cd_issue1764/lastSuccessfulBuild/artifact/build/p2-repository/ a try

[2021-12-06 09:41] szarnekow commented on #1764
The names / paths of the images are API. Apart from that, improving the icons is ok and appreciated.

[2021-12-06 09:42] cdietrich commented on #1764
@szarnekow so keeping the old gifs?

[2021-12-06 09:46] szarnekow commented on #1764
Gut feeling: Unfortunately yes. The PluginImageHelper has the option to refer to images from other plugins, so we cannot be sure that no other code refers to the gifs.

[2021-12-09 09:18] cdietrich commented on #1764
fixed in 2.26.0

[2021-12-09 09:18] #1764 closed

[2021-12-10 12:31] cdietrich commented on #1760
done

[2021-12-10 12:31] #1760 closed

[2021-12-13 06:46] cdietrich commented on #1761
ping @stas-bob

[2021-12-13 08:52] stas-bob commented on #1761
Sorry. Its working, i already verified the solution 12 days ago

[2021-12-13 09:31] cdietrich commented on #1761
@szarnekow should we still look into the why of JdtQueuedBuildData or shall we close?

[2021-12-13 13:22] szarnekow commented on #1761
pollQueuedBuildData -> Might also be related to "legacy" languages interoperating with Xbase languages. If the Xbase language needs the Java types, the rebuild is necessary after the generated Java code was compiled.

I don't remember exactly though.
For now, I'd close this one here until we see yet another issue in that area. What do you think @cdietrich ?

[2021-12-13 13:27] #1761 closed

[2021-12-13 13:27] cdietrich commented on #1761
Will close this one for now, thanks

[2021-12-17 11:25] LawrenceGoossens opened #1771 "Suspicious code in HiddenRegionFormatting's mergeValuesFrom"
The `mergeValuesFrom` method never updates the priority of `this`. This could cause especially weird results in `HiddenRegionFormattingMerger`'s `merge` method, where the resulting priority could depend on the number of conflicts, and the priority of 3 or more merged conflicts will always be 0. I think fixing this would also fix the `// TODO: don't do this` in `HiddenRegionFormattingMerger`.

[2021-12-17 11:27] LawrenceGoossens commented on #1771
The way strategy is calculated might also cause an overflow if big priority values are used

[2021-12-17 11:30] LawrenceGoossens commented on #1771
I'm currently implementing a fix on a fork

[2021-12-17 13:54] LawrenceGoossens commented on #1771
I see now that this file is part of the xtext-core repo, I have readded it there. This issue may be deleted.

[2021-12-17 13:54] #1771 closed

[2022-01-20 05:40] cdietrich opened #1776 "EditorForAbsentFileTest and MarkOccurrencesTest fail on latest"
[code]

MarkOccurrencesTest i cannot reproduce locally from eclipse yet

[2022-01-20 07:41] cdietrich commented on #1776
https://bugs.eclipse.org/bugs/show_bug.cgi?id=577289

[2022-01-20 07:47] cdietrich commented on #1776
for the mark occurrecne test: event can be null

[2022-01-24 12:27] cdietrich commented on #1776
EditorForAbsentFileTest is fixed. MarkOccurrencesTest did not fail again so far. probably flaky

[2022-01-26 08:51] cdietrich opened #1781 "Resource Leak in XbaseInformationControl"
[code]

[2022-01-26 09:06] cdietrich commented on #1781
dupes #1699

[2022-01-26 09:06] #1781 closed

[2022-01-28 20:24] #1776 closed

[2022-01-31 15:21] cdietrich commented on #1776
https://ci.eclipse.org/xtext/job/xtext-eclipse/job/cd_platformUpdateExp/18/testReport/junit/org.eclipse.xtext.ui.tests.editor.occurrences/MarkOccurrencesTest/testMarkOccurrencesCrossFile/

[2022-03-14 10:39] anschwar opened #1811 "Replace log4j with log4j2 instead of reload4j"
Hi,

as I didn't find any issue regarding log4j1 I decided to create one.

I read somewhere that the logging of xtext will be changed to reload4j which is a revived project descending from the original log4j which is end of life since 2015.

Are there any plans to migrate to log4j2 to get rid of the log4j1 dependency in eclipse RCP applications that use xtext?

Best regards

[2022-03-14 11:35] cdietrich commented on #1811
see https://github.com/eclipse/xtext/issues/2028 and https://github.com/eclipse/xtext-core/issues/1363

[2022-03-14 18:00] szarnekow commented on #1811
Hey @anschwar
I'll close this ticket referring to the discussion that Christian linked here.
If - for some reason - you strictly need log4j2 as the logging backend, I'd recommend to use slf4j with its log4j facade in the frontend and log4j2 in the backend.

[2022-03-14 18:00] #1811 closed

[2022-03-21 09:17] cdietrich opened #1820 "Support more fine granular "needsRebuild" on generation to different projects"
Support more fine granular "needsRebuild" on generation to different projects
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=579082

[2022-03-21 09:27] cdietrich commented on #1820
@szarnekow do you see any way to achieve this without breaking api
if we replace / add to

IBuildContext.needsRebuild a IBuildContext.needsRebuild(IProject)
and people subclass that, it wont be called anymore

[2022-03-21 09:40] szarnekow commented on #1820
I'd probably go for the invenient but so far reliable approach that checks the implementation class. If the type of the BuildContext is the Xtext default type, we don't call needsRebuild. If it is not and the actual type has an overridden needsRebuild, we call it from needsRebuild(IProject)

[2022-03-21 09:51] cdietrich commented on #1820
yes but i have no clue how jörg manages to write to other projects without subclassing.

[2022-03-21 10:17] szarnekow commented on #1820
I think that's supported by if one uses custom generator outlets, e.g. if `org.eclipse.xtext.generator.OutputConfiguration.getOutputDirectory()` returns something `../../projectName/...`

[2022-03-21 10:20] cdietrich commented on #1820
yes but this will only work if projects are contained in the ws and not imported only

[2022-03-21 10:28] szarnekow commented on #1820
I don't think so - the path resolution is relative the ws root, isn't it?

[2022-03-21 10:30] cdietrich commented on #1820
yes. thus i really wonder how jörg does it

[2022-03-23 05:53] cdietrich opened #1822 "investigate failing Storage2UriMapperJdtImplTest on latest"
Storage2UriMapperJdtImplTest fails on latest
- what has changed in platform or jdt ?

@szarnekow any idea?
@iloveeclipse are you aware of any changes on eventing for deleted jar files in platform or jdt? e.g. jarpackagefragmentroot etc

[2022-03-23 05:56] iloveeclipse commented on #1822
No. If test creates new projects, I assume it doesn't wait for all events after that or not properly reacts on them (the utf-8 change that creates .settings in new project probably).

[2022-03-23 06:16] cdietrich commented on #1822
cannot reproduce locally yet.
will check if test is flaky on server

[2022-03-23 09:58] cdietrich commented on #1820
@ Jörg the change that we now do request rebuild on affected projects

[2022-03-23 10:03] iloveeclipse commented on #1820
@cdietrich : I think Jörg is not subscribed to this ticket :-)

[2022-03-23 10:06] cdietrich commented on #1820
yes i dont know if he has an github account at all

[2022-03-23 10:39] szarnekow commented on #1820
Pinging @jukzi: Can you please take a look at this conversation, Jörg?

[2022-03-24 06:34] jukzi commented on #1820
thanks, i can probably test tomorrow.

[2022-03-25 07:55] jukzi commented on #1820
We have serious issues with the current xtext builds:

At a first glance after clean build many project with Java Problem:
"The project cannot be built until its prerequisite XXX is built. Cleaning and building all projects is recommended"

I debugged and found why: we have set manual build order in preferences. The build order was wrong. Former Xtext did cure that wrong wrong build order by reque

[2022-03-25 08:24] cdietrich commented on #1820
The first change I don’t understand can you explain

@iloveeclipse does the rebuild with project build called on current project behave differently as called without project

[2022-03-25 08:25] cdietrich commented on #1820
@jukzi it would really help to know how you generate to different projects

[2022-03-25 08:25] cdietrich commented on #1820
@jukzi it would really help to know how you generate to different projects

[2022-03-25 09:27] jukzi commented on #1820
There is probably not a single kind of how to create files. But i can give an example i just see - this makes xtext endless requesting rebuilds in eclipse.tea:

 new java.io.File.File(File, String)
 //... write...
  IProject.refreshLocal(IResource.DEPTH_INFINITE, null);

The file is created in another project - and  in this case not even by xtext. Still xtext detects that delta in
org.eclipse.xtex

[2022-03-25 09:33] cdietrich commented on #1820
but this wont cause the buildcontext needsrebuild as you bypass xtext api completely

[2022-03-25 09:38] jukzi commented on #1820
sure it does not use xtext API. but xtext DOES SEE the delta in JdtQueuedBuildData.doNeedRebuild()
if xtext sees a delta in another project it has to call doNeedRebuild(project) . JdtQueuedBuildData.doNeedRebuild should probably return a set of projects it wants to rebuild. its not just a binary decision rebuild or not with the new api.

[2022-03-25 09:39] cdietrich commented on #1820
i fear we need to wait until @szarnekow has some time to help me to understand JdtQueuedBuildData and the usecases

[2022-03-25 09:41] jukzi commented on #1820
what exactly is unclear? see javdoc of org.eclipse.core.resources.IncrementalProjectBuilder.requestProjectsRebuild(Collection<IProject>):

"if the given collection contains the current project (that is currently built with current builder), the current project will be not rebuilt immediately"

[2022-03-25 09:42] cdietrich commented on #1820
wip branch is https://github.com/eclipse/xtext-eclipse/tree/cd_xtext_eclipse_issue1820_b

[2022-03-25 09:49] cdietrich commented on #1820
update site with your patch proposal https://ci.eclipse.org/xtext/job/xtext-umbrella/job/cd_xtext_eclipse_issue1820_b/lastSuccessfulBuild/artifact/build/p2-repository/

[2022-03-25 09:51] cdietrich commented on #1820
@szarnekow what do you think about the change in
https://github.com/eclipse/xtext-eclipse/tree/cd_xtext_eclipse_issue1820_c

[2022-03-29 07:14] cdietrich commented on #1820
another version available now.

[2022-03-29 07:23] cdietrich commented on #1820
TODO think about better treatment of unconfirmed deltas
https://github.com/eclipse/xtext-eclipse/compare/cd_xtext_eclipse_issue1820_c

[2022-03-29 07:43] szarnekow commented on #1820
It would be great if the entire overhead would be optional. Environments without a language that needs Java types should not "suffer" from the processing of deltas and internal Java compiler state.

[2022-04-06 07:42] jukzi commented on #1820
Could you please merge https://github.com/eclipse/xtext-eclipse/compare/cd_xtext_eclipse_issue1820_c as is? We need it and you could still do improvements afterwards.

[2022-04-06 07:47] cdietrich commented on #1820
Sebastian says it should not be merged ?

[2022-04-06 07:47] cdietrich commented on #1820
Cc @szarnekow

[2022-04-07 06:47] szarnekow commented on #1820
I think https://github.com/eclipse/xtext-eclipse/compare/cd_xtext_eclipse_issue1820_c looks fine for now. It's certainly an improvement. Nevertheless JdtQueuedBuildData and friends seem to require an overhaul since they've caused to much trouble in the past, especially for languages that do *not* depend on the Xtext common.types.

[2022-04-07 11:51] cdietrich commented on #1820
@jukzi nightly should contain it torrow

[2022-04-08 08:00] jukzi commented on #1820
thanks. works for me now.

[2022-04-08 08:06] szarnekow commented on #1820
Excellent. Thank you for reporting back, Jörg.

@cdietrich Nice piece of work that you pulled off here. I really like the more fine-grained approach towards requesting builds from the code gen.

[2022-04-08 08:38] cdietrich commented on #976
still the case

[2022-04-11 05:39] cdietrich commented on #1822
Failed again today

[2022-04-12 14:28] haubi opened #1835 "Storage2UriMapperJavaImpl::doInitializeCache causes needless rebuilds after restarting Eclipse (2021-12)"
So I do have annoying runs of the auto build here for ~10min when restarting Eclipse despite everything was built up to date just before the restart - on Linux with our application having >500 projects and >50k source files:
1. Have each (auto) builder up to date, as in: repeated disable+enable auto build does not build anything anymore.
2. Leave auto build enabled.
3. Restart Eclipse 2021-12 (not

[2022-04-12 14:31] cdietrich commented on #1835
do you have any idea how to resolve this?

[2022-04-12 14:47] iloveeclipse commented on #1835
2021-06 has already https://bugs.eclipse.org/bugs/show_bug.cgi?id=568324

[2022-04-12 14:56] haubi commented on #1835
With 2021-06 I have neither discovered nor debugged this situation, but I can imagine just the timing between these threads to be different there to not trigger this problem.
As far as I understand from it's description, https://bugs.eclipse.org/bugs/show_bug.cgi?id=568324 may indeed be related.

cc @jukzi for (helping me to) eventually test with more recent platform and Xtext

[2022-04-12 15:15] iloveeclipse commented on #1835
Hard to say what could be changes in last few years especially if startup timing is the problem. If one could at least find the exact release... There were lot of changes that might affect startup timing / order in entire SDK.

But if `Storage2UriMapperJavaImpl` requires JDT to be initialized, may be better to search for the solution.
If this code in Xtext starts before JDT is fully initialized, t

[2022-04-13 15:09] haubi commented on #1835
Indeed!
And the original report is talking about Xtext as well: https://bugs.eclipse.org/bugs/show_bug.cgi?id=578564

Thanks a lot! (closing)

[2022-04-13 15:09] #1835 closed

[2022-04-22 14:14] cdietrich opened #1842 "some tests dont work on latest and build does not fail"
https://ci.eclipse.org/xtext/job/xtext-eclipse/job/master/2430/consoleFull
[code]

[code]
have no idea why tycho does not mark the tests as failed then

[2022-04-22 14:17] laeubi commented on #1842
Calling Maven with ARGS: --batch-mode --update-snapshots --fae **-Dmaven.test.failure.ignore=true** -Declipse.p2.mirrors=false -Dtycho.disableP2Mirrors=true

I think it is meant that there is an additional step collecting all unit tests and then fail the build on the CI level showing a nice statistic about all failed/successful tests.

[2022-04-22 14:20] laeubi commented on #1842
But obvious if you request to *not fail* then tycho can't do anything here regardless of version :-)

[2022-04-22 14:29] cdietrich commented on #1842
I will try to do software archeology why it is done this way @kthoms @szarnekow any idea

[2022-04-22 14:41] szarnekow commented on #1842
I'd think what we really want is `--fail-at-end ` instead of test.failure.ignore.

[2022-04-22 14:57] laeubi commented on #1842
FYI @jonahgraham
I have created https://gitlab.ow2.org/asm/asm/-/issues/317975 as I think asm is probably missing some useconstraints
@bjhargrave @tjwatson can anyone maybe take a look at the asm issue I sadly don't fully understand how they generate the manifest and maybe my assumption is wrong here, but it seem asm has missing use-constraints that leads to this state

[2022-04-22 15:32] bjhargrave commented on #1842
I don't have a gitlab account for ow2, so I will reply here. The Export-Package looks fine. You need to look in the class files. While SignatureVisitor uses OpCodes, all the references are to constants and the compiler inlines the constant references in the generated class file so there is no class file reference from SignatureVisitor to OpCodes and thus no uses constraint for Bnd to infer from th

[2022-04-22 15:49] laeubi commented on #1842
Thanks for the check, I have copied you comment there for reference, I think I was looking at the wron place, from the xtext issue the error is:

[code]

And there is seems it requires some **org.objectweb.asm.tree** and conflicts with **org.objectweb.asm** so maybe `org.eclipse.pde.api.tools` is the culprit here and `asm` is not to blame?

[2022-04-22 15:53] bjhargrave commented on #1842
You seem to getting burned by Require-Bundle.

Using Import-Package for asm will help.

[2022-04-22 16:04] laeubi commented on #1842
I also thought so, strange enough it says:

so should that not mean its a split package and importing both bundles should be fine, but I assume both packages have to match in version to qualify as a valid split package.

I'll see if I can find where this is used in the API tools, but I'm neither familiar with API tools nor its ASM usage...

[2022-04-22 16:07] bjhargrave commented on #1842
No, the message says some chain requires both `org.objectweb.asm` and `org.objectweb.asm.tree` bundles and each bundle exports package `org.objectweb.asm`. This means being exposed to two instances of the packages which is a no-no.

[2022-04-22 16:13] cdietrich commented on #1842
if the export is versioned should that work?
or is the problem that our require bundle constraint pulls asm 9.2
whilst pde needs both tree and asm?

[2022-04-22 16:24] bjhargrave commented on #1842
`org.eclipse.pde.api.tools` requires bundle `org.objectweb.asm;bundle-version=9.3.0` which exports `org.objectweb.asm;version=9.3.0`.

`org.eclipse.pde.api.tools` also requires bundle `org.objectweb.asm.tree;bundle-version=9.2.0` which imports `org.objectweb.asm;version=[9.2.0,9.3.0)`.

So the import cannot be satisfied by the earlier export (version range mismatch) So now the resolver wants an ex

[2022-04-22 16:44] laeubi commented on #1842
Strange that this was not discovered earlier I have opened https://github.com/eclipse-pde/eclipse.pde/issues/42

[2022-04-24 17:08] cdietrich commented on #1842
with the upstream fix we are green again.
will pr the removal of test failure ignore anyway.
will also think about getting rid of the pde api dep alltogether

[2022-04-24 17:22] laeubi commented on #1842
Great, thanks for verification.

[2022-04-27 13:17] cdietrich commented on #1842
removed the test failure ignore

[2022-04-27 13:18] cdietrich commented on #1842
also remove the dependency to pde.api

[2022-04-27 13:18] cdietrich commented on #1842
thus consider this as done

[2022-04-27 13:18] #1842 closed

[2022-04-29 04:33] cdietrich commented on #1820
@szarnekow are we fine now for now or should we create a follow up task?

[2022-05-04 11:23] srinivasiyermv opened #1848 "Xtext editor throws java.lang.IllegalStateException on touching files outside of eclipse workspace"
**Steps to reproduce**

1.  Import  ```org.eclipse.xtext.example.arithmetics```  example project.
2.  Launch the  project and create  **sample.calc** dsl file  with below content
     ![image](https://user-images.githubusercontent.com/41803/166670646-724ec353-de0f-4d00-ad84-b62f445fcc63.png)
3.  Write a batch script  which recursively touch sample.calc file outside of eclipse workspace.
      ![im

[2022-05-04 11:24] cdietrich commented on #1848
@srinivasiyermv can you please also provide your bash script

[2022-05-04 11:30] cdietrich commented on #1848
@szarnekow any idea?

[2022-05-09 10:08] szarnekow opened #1849 "Storage2UriMapperJavaImpl.getStorages is unnecessarily slow"
It traverses the list of all package fragment roots twice and performance pointless exists() check apparently only to modify a local copy of the data.

Can be observed on workspaces with large number of projects.

![image](https://user-images.githubusercontent.com/375492/167388616-95b581cb-6500-4163-8839-d01f260b5361.png)

See org.eclipse.xtext.ui.resource.Storage2UriMapperJavaImpl.getStorages(URI

[2022-05-10 09:34] cdietrich commented on #1849
@szarnekow is this done?

[2022-05-10 09:56] szarnekow commented on #1849
There is still headroom, but not without new APIs. Still pondering.

[2022-05-16 12:37] cdietrich commented on #1820
ping @szarnekow

[2022-05-16 12:47] #1820 closed

[2022-05-18 07:59] cdietrich opened #1853 "Races in Storage2UriMapperJavaImpl"
we observe the following races in `Storage2UriMapperJavaImpl`

initialize race

[code]

[code]

read on non initialized

[code]
might be called before
[code]

in both cases the clearCache will remove stuff that is in toBeKept with the same path/uriPrefix but a different PackageFragmentRootData.

this will lead to follow up errors as there is no IContainer for the Jar, and thus visibleContainer cal

[2022-05-18 08:04] cdietrich commented on #1853
Naive fix ideas:
- implement equals and hashcode in packagefragmentrootdata, cannot test this in my scenario as the constructor call is not customizable in current released xtext versions

- solve the init problem

[code]

- solve the read problem: dont cache if not inited
[code]

of course a complete overhaul of the complete thing would be much better, but i have zero clue where to start

[2022-05-18 11:33] cdietrich commented on #1853
what is also is bogus: if we want to run with workspace lock,
but NotificationManager.NotifyJob does not use any,
this will be a problem too